@use "sass:math";
@use '../abstracts/mixins' as *;

$rem-base: 16;

@for $i from 10 through 24 {
  .gap-#{$i} {
    gap: math.div($i, $rem-base) * 1rem;
  }
}


.hide {
  &-mob {
    display: none;
    @include desk {
      display: inline-block;
    }
  }

  &-desk {
    @include desk {
      display: none;
    }
  }
}
