<!DOCTYPE html>
<html lang="en">
<%- include('layout/head-alt.ejs', {
  title: "BaseX-Tech ▶️  Design | Development | Marketing",
  description: "Web design and development agency ➤ BaseX-Tech ⭐️ We create solutions that combine innovation, efficiency, and real impact on business growth.",
  hrefLangCode: "uk",
  hrefLangLink: "https://base-xtech.com/uk/",
  hreflangDefault: "https://base-xtech.com/",
}) %>

<body>
  <%- include('layout/noscript.ejs') %>
  <%- include('layout/header-alt.ejs') %>

  <%- include('layout/drawer/nav.ejs') %>
  <%- include('layout/drawer/form.ejs') %>



    <main>
      <%-
        include('layout/section/hero.ejs', {
          locale: 'en',
          id: "hero",
          title: "<span class='highlight'>Essential</span>  design & development",
          description: "We help eCommerce brands scale with automation, smart workflows, and cutting-edge design—reshaping fashion, lifestyle, and digital retail.",
          button_text: "Discuss a project",
          background_image: "/images/sections/hero/bg.jpg",
          background_image_mob: "/images/sections/hero/bg-mob.jpg"
        })
      %>

      <section id="section-service" class="section section-service">
        <div class="container">
          <header class="section-header">
            <h2 class="section-title alt up">Service</h2>
          </header>
          <component-accordion>
            <article data-accordion-item="visible">
              <header class="faq-header">
                <div class="header-inner">
                  <ul class="icon-set">
                    <li><img loading="lazy" fetchpriority="low" src="images/sections/service/icon-shopify.svg" alt="Shopify"></li>
                  </ul>
                  <div>
                    <h3 class="title up">ecommerce</h3>
                  </div>
                </div>
                <button class="toggle-button active"></button>
              </header>
              <div class="inner-content">
                <div class="inner">
                  <main class="description">
                    <p>We craft seamless, high-performing online stores—where strategy, design, and technology drive growth.</p>
                  </main>
                  <footer>
                    <ul class="tag-set">
                      <li class="tag">Shopify</li>
                      <li class="tag">Headless</li>
                      <li class="tag">Customization</li>
                      <li class="tag">API</li>
                      <li class="tag">Theme Store</li>
                    </ul>
                  </footer>
                </div>
              </div>
            </article>
            <article data-accordion-item="hidden">
              <header class="faq-header">
                <div class="header-inner">
                  <ul class="icon-set">
                    <li><img loading="lazy" fetchpriority="low" src="images/sections/service/icon-figma.svg" alt="Figrm"></li>
                    <li><img loading="lazy" fetchpriority="low" src="images/sections/service/icon-ai.svg" alt="Adobe Illustrator"></li>
                  </ul>
                  <div>
                    <h3 class="title up">website & identity</h3>
                  </div>
                </div>
                <button class="toggle-button"></button>
              </header>
              <div class="inner-content">
                <div class="inner">
                  <main class="description">
                    <p>We craft compelling websites and brand identities where strategy, design, and user experience foster connection.</p>
                  </main>
                  <footer>
                    <ul class="tag-set">
                      <li class="tag">UI/UX</li>
                      <li class="tag">Branding</li>
                      <li class="tag">Landing Page</li>
                      <li class="tag">Web Design</li>
                      <li class="tag">Logo</li>
                    </ul>
                  </footer>
                </div>
              </div>
            </article>
            <article data-accordion-item="hidden">
              <header class="faq-header">
                <div class="header-inner">
                  <ul class="icon-set">
                    <li><img loading="lazy" fetchpriority="low" src="images/sections/service/icon-git.svg" alt="Github"></li>
                    <li><img loading="lazy" fetchpriority="low" src="images/sections/service/icon-js.svg" alt="JS"></li>
                    <li><img loading="lazy" fetchpriority="low" src="images/sections/service/icon-react.svg" alt="React"></li>
                    <li><img loading="lazy" fetchpriority="low" src="images/sections/service/icon-next.svg" alt="NexJs"></li>
                    <li><img loading="lazy" fetchpriority="low" src="images/sections/service/icon-graph.svg" alt="GraphQl"></li>
                  </ul>
                  <div>
                    <h3 class="title up">Development</h3>
                  </div>
                </div>
                <button class="toggle-button"></button>
              </header>
              <div class="inner-content">
                <div class="inner">
                  <main class="description">
                    <p>We build robust, high-performance web solutions where technology, functionality, and innovation power progress.</p>
                  </main>
                  <footer>
                    <ul class="tag-set">
                      <li class="tag">React</li>
                      <li class="tag">Next.js</li>
                      <li class="tag">Node.js</li>
                      <li class="tag">SQL</li>
                      <li class="tag">GraphQL</li>
                      <li class="tag">Javascript</li>
                    </ul>
                  </footer>
                </div>
              </div>
            </article>
          </component-accordion>
        </div>
      </section>

      <section id="section-works" class="section section-works">
        <div class="container">
          <div class="inner">
            <header class="section-header">
              <h2 class="section-title alt up">Portfolio</h2>
              <h3 class="section-subtitle up">Foundations<br desk> of Impactful <br desk>Digital <br desk>Experiences</h3>
            </header>
            <blockquote>
              <h2 class="title up">40+</h2>
              <p>A showcase of brands we’ve helped grow through strategy, design, and technology. Each project is a testament to our commitment to building lasting digital experiences.</p>
            </blockquote>
          </div>

          <article class="article-1">
            <main>
              <ul class="cards">
                <li class="card">
                  <a href="https://base-xtech.com/blog/shopify-product-configurator-naya-tech/" target="_blank">
                    <img loading="lazy" fetchpriority="low" src="images/sections/works/card-1-bg.png" alt="Naya Tech" class="card-background">
                    <div class="card-content">
                      <header>
                        <h4 class="card-title up">Naya Tech</h4>
                        <ul class="icon-set">
                          <li><img loading="lazy" fetchpriority="low" src="images/sections/works/icon-shopify.svg" alt="Shopify"></li>
                        </ul>
                      </header>
                      <footer>
                        <p>Shopify store development for tech startup</p>
                      </footer>
                    </div>
                  </a>
                </li>
                <li class="card">
                  <a href="https://bonkind.com/" target="_blank">
                    <img loading="lazy" fetchpriority="low" src="images/sections/works/card-2-bg.png" alt="bonkind" class="card-background">
                    <div class="card-content">
                      <header>
                        <h4 class="card-title up">bonkind</h4>
                        <ul class="icon-set">
                          <li><img loading="lazy" fetchpriority="low" src="images/sections/works/icon-figma.svg" alt="Shopify"></li>
                          <li><img loading="lazy" fetchpriority="low" src="images/sections/works/icon-ai.svg" alt="Shopify"></li>
                        </ul>
                      </header>
                      <footer>
                        <p>Brand identity & redesign of self-care ecommerce</p>
                      </footer>
                    </div>
                  </a>
                </li>
                <li class="card">
                  <a href="https://ua.klottclothes.com/" target="_blank">
                    <img loading="lazy" fetchpriority="low" src="images/sections/works/card-3-bg.png" alt="acronym gmbh" class="card-background">
                    <div class="card-content">
                      <header>
                        <h4 class="card-title up">klott</h4>
                        <ul class="icon-set">
                          <li><img loading="lazy" fetchpriority="low" src="images/sections/works/icon-git.svg" alt="Shopify"></li>
                          <li><img loading="lazy" fetchpriority="low" src="images/sections/works/icon-shopify.svg" alt="Shopify"></li>
                        </ul>
                      </header>
                      <footer>
                        <p>Design & Shopify development for fashion brand</p>
                      </footer>
                    </div>
                  </a>
                </li>
              </ul>
            </main>
          </article>
        </div>
      </section>

      <section id="section-team" class="section section-team" >
        <div class="container">
          <div class="inner">
            <header class="section-header">
              <h2 class="section-title alt up">Team</h2>
              <h3 class="section-subtitle up gradient">The Minds <br>Behind Your <br>Vision</h3>
            </header>
            <blockquote>
              <header>
                <h2 class="title up">20+</h2>
                <p class="description">Designers, developers, and strategists crafting impactful digital experiences.</p>
              </header>
              <main>
                <nav class="slider-nav">
                  <ul class="inline-stack">
                    <li>
                      <button class="slider-nav-btn">
                        <div class="avatar" alt="Avatar 2" style="--avatar-size: 64px;">
                          <img loading="lazy" fetchpriority="low" src="images/sections/team/avatar-2.png">
                        </div>
                      </button>
                    </li>
                    <li>
                      <button class="slider-nav-btn">
                        <div class="avatar" alt="Avatar 3" style="--avatar-size: 64px;">
                          <img loading="lazy" fetchpriority="low" src="images/sections/team/avatar-3.png">
                        </div>
                      </button>
                    </li>
                    <li>
                      <button class="slider-nav-btn">
                        <div class="avatar" alt="Avatar 4" style="--avatar-size: 64px;">
                          <img loading="lazy" fetchpriority="low" src="images/sections/team/avatar-8.jpeg">
                        </div>
                      </button>
                    </li>
                    <li>
                      <button class="slider-nav-btn">
                        <div class="avatar" alt="Avatar 5" style="--avatar-size: 64px;">
                          <img loading="lazy" fetchpriority="low" src="images/sections/team/avatar-5.png">
                        </div>
                      </button>
                    </li>
                    <li>
                      <button class="slider-nav-btn">
                        <div class="avatar" alt="Avatar 6" style="--avatar-size: 64px;">
                          <img loading="lazy" fetchpriority="low" src="images/sections/team/avatar-6.png">
                        </div>
                      </button>
                    </li>
                  </ul>
                </nav>
              </main>
            </blockquote>
          </div>
          <main style="display: none;">
            <article class="article-1">
              <main>
                <ul class="cards">
                  <li class="card">
                    <img loading="lazy" fetchpriority="low" src="images/sections/team/card-1-bg.png" alt="Vadym Yarmak" class="card-background">
                    <div class="card-content">
                      <header>
                        <h4 class="card-title up">Vadym Yarmak <strong>Lead designer</strong></h4>
                      </header>
                      <footer>
                        <p>Every design solution should not only look good, but also solve specific user problems. I create clear interfaces where aesthetics work for convenience.</p>
                      </footer>
                    </div>
                  </li>
                </ul>
              </main>
            </article>
          </main>
        </div>
      </section>

      <section id="section-numbers" class="section section-numbers">
        <div class="container">
          <div class="inner">
            <header class="section-header">
              <h2 class="section-title alt up">We are in numbers</h2>
            </header>
            <blockquote class="block-stack" style="--gap:1.5rem">
              <h3 class="title up">We are Base X Tech,<br>a web design and development agency based in Kyiv, Ukraine. We design, develop, and deliver innovation, efficiency, growth, and impact.</h3>
              <a class="btn btn--primary" data-form-trigger><span>discuss a project</span><i arrow-right><span></span></i></a>
            </blockquote>
          </div>

          <main>
            <ul class="cards block-stack" style="--gap: 1rem">
              <li class="card" style="--bg-color: #81A13F">
                <h4 class="card-title def">Upwork Reviews</h4>
                <p class="number">4.8*</p>
              </li>
              <li class="card" style="--bg-color: #676767">
                <h4 class="card-title def">Happy Clients</h4>
                <p class="number">60+</p>
              </li>
              <li class="card" style="--bg-color: #FFF; --color: #1D1E20">
                <h4 class="card-title def">Success Delivers</h4>
                <p class="number">100+</p>
              </li>
            </ul>
          </main>
        </div>
      </section>

      <section id="section-reviews" class="section section-reviews">
        <div class="container">
          <div class="inner">
          <header class="section-header">
            <h2 class="section-title alt up">Reviews</h2>
            <h3 class="section-subtitle up gradient">trusted by <br>our partners</h3>
            <div class="section-reviews--badges">
              <ul>
                <li>
                  <div class="section-reviews--badge">
                    <a href="https://www.upwork.com/agencies/base/" target="_blank">
                      <img src="images/sections/reviews/badge-upwork.png" alt="Upwork">
                    </a>
                  </div>
                </li>
                <li>
                  <div class="section-reviews--badge">
                    <a href="https://clutch.co/profile/base-x-tech " target="_blank">
                      <img src="images/sections/reviews/badge-clutch.png" alt="Clutch">
                    </a>
                  </div>
                </li>
                <li>
                  <div class="section-reviews--badge">
                    <a href="#" target="_blank">
                      <img src="images/sections/reviews/badge-design-rush.png" alt="Designrush">
                    </a>
                  </div>
                </li>
                <li class="goodfirms-badge-wr">
                  <div class="section-reviews--badge goodfirm-widget" data-widget-type="goodfirms-widget-t6" data-widget-pattern="star-no-review" data-height="100" data-company-id="171088"></div>
                </li>
                <li class="sortlist-badge-wr">
                  <div class="section-reviews--badge sortlist-badge"></div>
                </li>


              </ul>
            </div>
          </header>
          <main class="section-content block-stack" style="--gap:2.125rem">
            <div class="carousel" id="reviews-carousel">
              <blockquote class="block-stack" style="--gap:2rem">
                <header>
                  <div class="avatar" style="--avatar-size: 64px;">
                    <img loading="lazy" fetchpriority="low" src="images/sections/reviews/gunia_avatar.png" alt="Gunia">
                  </div>
                </header>
                <main>
                  <p>Great attention to detail and a professional approach. I can recommend them both for store migration and for theme customization on Shopify.</p>
                </main>
                <footer class="block-stack" style="--gap: .3rem;">
                  <h4 class="title def">Gunia</h4>
                  <p class="subtitle">-</p>
                </footer>
              </blockquote>
              <blockquote class="block-stack" style="--gap:2rem">
                <header>
                  <div class="avatar" style="--avatar-size: 64px;">
                    <img loading="lazy" fetchpriority="low" src="images/sections/reviews/advantec_avatar.png" alt="VT Advantec">

                  </div>
                </header>
                <main>
                  <p>Having partnered with Base X Tech for several years, they have become a highly trusted extension of our team. They deliver top-tier expertise across <b>web development and platform integration</b>, always providing strategic, practical advice, and expertly navigating tight timelines to ensure our success</p>
                </main>
                <footer class="block-stack" style="--gap: .3rem;">
                  <h4 class="title def">VT Advantec</h4>
                  <p class="subtitle">-</p>
                </footer>
              </blockquote>
              <blockquote class="block-stack" style="--gap:2rem">
                <header>
                  <div class="avatar" style="--avatar-size: 64px;">
                    <img loading="lazy" fetchpriority="low" src="images/sections/reviews/avatar-1.png" alt="Stealth Startup US">
                  </div>
                </header>
                <main>
                  <p>Base X went through each task in detail to ensure the final product aligned with our vision. Their communication skills and ability to work efficiently without sacrificing the quality of their outputs impressed us.</p>
                </main>
                <footer class="block-stack" style="--gap: .3rem;">
                  <h4 class="title def">Stealth Startup US</h4>
                  <p class="subtitle">-</p>
                </footer>
              </blockquote>
              <blockquote class="block-stack" style="--gap:2rem">
                <header>
                  <div class="avatar" style="--avatar-size: 64px;">
                    <img loading="lazy" fetchpriority="low" src="images/sections/reviews/avatar-1.png" alt="Stealth Startup US">
                  </div>
                </header>
                <main>
                  <p>Their team delivered a bug-free Shopify store that resulted in higher conversion rates. Base X communicated effectively and strictly followed the agreed deadlines throughout the engagement. Moreover, the team was quick to respond to our needs and had excellent attention to detail.</p>
                </main>
                <footer class="block-stack" style="--gap: .3rem;">
                  <h4 class="title def">Stealth Startup EU</h4>
                  <p class="subtitle">-</p>
                </footer>
              </blockquote>
              <blockquote class="block-stack" style="--gap:2rem">
                <header>
                  <div class="avatar" style="--avatar-size: 64px;">
                    <img loading="lazy" fetchpriority="low" src="images/sections/reviews/avatar-2.png" alt="Lili Mager">
                  </div>
                </header>
                <main>
                  <p>We received positive feedback from customers about the new site, which was fully functional and met all of our expectations and unique needs. Base X's detail-oriented team was very responsive and quickly implemented edits to the project.</p>
                </main>
                <footer class="block-stack" style="--gap: .3rem;">
                  <h4 class="title def">Lili Mager</h4>
                  <p class="subtitle">-</p>
                </footer>
              </blockquote>


              <blockquote class="block-stack" style="--gap:2rem">
                <header>
                  <div class="avatar" style="--avatar-size: 64px;">
                    <img loading="lazy" fetchpriority="low" src="images/sections/reviews/avatar-1.png" alt="Stealth Startup US">
                  </div>
                </header>
                <main>
                  <p>They were always helpful, patient in answering all our questions, and truly went above and beyond.</p>
                </main>
                  <h4 class="title def">Ecommerce Manager in Retail Company</h4>
                  <h4 class="title def">Ecommerece Manager in Retail Company</h4>
                  <p class="subtitle">-</p>
                </footer>
              </blockquote>
            </div>
            <nav class="slider-nav inline-stack" style="--gap:.75rem">
              <button class="slider-nav-btn prev">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5.60222 10.325H17.4805V7.67503H5.60222L10.8912 2.38578L8.99997 0.519531L0.519472 9.00003L8.99997 17.4805L10.8912 15.6143L5.60222 10.325Z" fill="black"/>
                </svg>
              </button>
              <button class="slider-nav-btn next">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.3978 10.325H0.519531V7.67503H12.3978L7.10878 2.38578L9.00003 0.519531L17.4805 9.00003L9.00003 17.4805L7.10878 15.6143L12.3978 10.325Z" fill="black"/>
                </svg>
              </button>
            </nav>
          </main>
          </div>
        </div>
      </section>

      <section id="section-approach" class="section section-approach">
        <div class="container">
          <div class="inner-back">
            <header class="section-header">
              <h2 class="section-title alt up">Approach</h2>
              <h3 class="section-subtitle up">we work <br>within your <br>budget</h3>
            </header>
            <main class="section-content block-stack" style="--gap:2.125rem">
              <blockquote class="block-stack" style="--gap: 2rem;">
                <main class="block-stack" style="--gap: 1rem;">
                  <h4 class="title def">Immersion</h4>
                  <p class="description">We’re dedicated to crafting new solutions that push the boundaries of what’s possible, ensuring your business stays ahead of the curve.</p>
                </main>
                <footer class="inline-stack v-mid" style="--gap: 1rem;">
                  <div class="avatar" style="--avatar-size: 64px;">
                    <img loading="lazy" fetchpriority="low" src="images/sections/team/avatar-6.png" alt="Vadym-Marko Hruden">
                  </div>
                  <div class="user-info block-stack" style="--gap: 0">
                    <h4 class="title def">Vadym-Marko Hruden</h4>
                    <p class="subtitle">Head of Sales</p>
                  </div>
                </footer>
              </blockquote>
              <blockquote class="block-stack" style="--gap: 2rem;">
                <main class="block-stack" style="--gap: 1rem;">
                  <h4 class="title def">Transparence</h4>
                  <p class="description">We believe in keeping you fully informed throughout every step of the project, giving you the clarity and confidence to make decisions.</p>
                </main>
                <footer class="inline-stack v-mid" style="--gap: 1rem;">
                  <div class="avatar" style="--avatar-size: 64px;">
                    <img loading="lazy" fetchpriority="low" src="images/sections/team/avatar-2.png" alt="Vadim Hula">
                  </div>
                  <div class="user-info block-stack" style="--gap: 0">
                    <h4 class="title def">Vadim Hula</h4>
                    <p class="subtitle">Project Manager</p>
                  </div>
                </footer>
              </blockquote>
              <blockquote class="block-stack" style="--gap: 2rem;">
                <main class="block-stack" style="--gap: 1rem;">
                  <h4 class="title def">Quality</h4>
                  <p class="description">Excellence is woven into everything we do, from the initial concept to the final execution, ensuring your vision is brought to life with precision and care.</p>
                </main>
                <footer class="inline-stack v-mid" style="--gap: 1rem;">
                  <div class="avatar" style="--avatar-size: 64px;">
                    <img loading="lazy" fetchpriority="low" src="/images/sections/team/avatar-3.png" alt="Sofia Zabrodska">
                  </div>
                  <div class="user-info block-stack" style="--gap: 0">
                    <h4 class="title def">Sofia Zabrodska</h4>
                    <p class="subtitle">Business Development Manager</p>
                  </div>
                </footer>
              </blockquote>
              <a class="btn btn--primary" data-form-trigger><span>Book a call</span><i arrow-right><span></span></i></a>
            </main>
          </div>
        </div>
      </section>

      <%- include('layout/section/cta.ejs') %>

    </main>

    <%- include('layout/footer.ejs') %>



    <script type="module" src="/src/main.js"></script>
</body>
</html>
