<!DOCTYPE html>
<html lang="ua">
<%- include('layout/head-alt.ejs', {
  title: "CRO-оптимізація – збільшення конверсій сайту | BaseX-Tech",
  description: "Веб-дизайн та розробка ➤ BaseX-Tech ⭐️ Ми створюємо рішення, які поєднують інновації, ефективність і реальний вплив на зростання бізнесу.",
  hrefLangCode: "en",
  hrefLangLink: "https://base-xtech.com/pages/service/conversion-rate-optimization.html",
  hreflangDefault: "https://base-xtech.com/uk/pages/service/conversion-rate-optimization.html"
}) %>
<body class="locale-ua">
  <%- include('layout/noscript.ejs') %>

  <%- include('layout/header-alt-ua.ejs') %>
  <%- include('layout/drawer/nav-ua.ejs') %>
  <%- include('layout/drawer/form-ua.ejs') %>

  <main id="service-conversion-rate-optimization">
    <%-
      include('layout/section/hero-type-two.ejs', {
        locale: 'ua',
        id: "service-hero",
        title: "Оптимізація Конверсії",
        subtitle: "CRO для Shopify",
        description: "Наші послуги CRO зосереджені на збільшенні доходу вашого магазину через тестування на основі даних, аналіз поведінки користувачів та оптимізацію конверсійних воронок.",
        icons: [
          "shopify"
        ],
        cards: [
          {
            image:"/images/pages/service/conversion-rate-optimization/hero/card-2.png",
          },
          {
            image:"/images/pages/service/conversion-rate-optimization/hero/card-1.png",
          },
        ]
      })
    %>

    <%-
      include('layout/section/split.ejs', {
        locale: 'ua',
        theme: 'light',
        id: "service-type-of-apps",
        title: "ПОСЛУГИ ТА ТЕХНОЛОГІЇ",
        subtitle: "Які типи додатків<br class='br-desk'> <span class='accent'>ми можемо створити <br class='br-desk'>для вашого</span> <br class='br-desk'>Shopify магазину",
        cards: [
          {
            title: "Комплексний аудит вебсайту чи магазину",
            description: "Ми здійснюємо детальний аудит вашого вебресурсу або інтернет-магазину, аналізуючи структуру, навігацію, CTA, процес оформлення замовлення, швидкість завантаження і мобільну продуктивність. Виявляємо приховані проблеми, що знижують конверсії, та розробляємо план їх усунення.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
          {
            title: "Вивчення користувацької поведінки та аналіз даних",
            description: "За допомогою теплових карт, записів сесій, аналітики та звітів про користувацькі шляхи ми вивчаємо поведінку відвідувачів, визначаємо проблемні зони та потенціал для покращень. Отримані інсайти формують наші стратегії підвищення конверсії та залученості клієнтів.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
          {
            title: "Проведення A/B тестів та експериментів",
            description: "Ми створюємо та керуємо A/B і мультиваріантними тестами заголовків, макетів, текстів, кнопок, форм і зображень. Наш структурований підхід до тестування забезпечує вимірювані результати та підтримує довгострокове зростання.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
          {
            title: "Оптимізація цільових сторінок і воронок продажів",
            description: "Ми покращуємо посадкові сторінки та воронки продажів, щоб знизити відмови і направити користувачів до конверсії. Бажаєте більше лідів, підписників чи покупців — наші методики оптимізації забезпечують кращі результати.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
          {
            title: "Підвищення конверсії в Shopify",
            description: "Ми, як Shopify експерти, розробляємо кастомізовані стратегії підвищення конверсії для магазинів різного масштабу. Допомагаємо максимально використати ваш трафік, оптимізувати користувацький досвід і збільшити прибуток без збільшення рекламного бюджету.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
          {
            title: "Звітність, аналіз і постійне вдосконалення",
            description: "Процес оптимізації конверсії триває постійно. Ми готуємо докладні звіти, контролюємо ефективність тестів і регулярно проводимо експерименти для збільшення конверсії з часом.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
        ]
      })
    %>

    <%-
      include('layout/section/split.ejs', {
        locale: 'ua',
        theme: 'light',
        id: "service-advantages",
        title: "Переваги",
        subtitle: "<span class='accent'>Чому обирають</span><br> Base-X-Tech",
        content_cards: [
          {
            subtitle: "<span class='fig-rhombus black'></span>",
            title: "Акцент на аналітику",
            description: "Всі поради і тести базуються на фактичних даних користувачів, аналітиці та перевірених закономірностях поведінки. Ми працюємо для досягнення реальних результатів, а не гадаємо."
          },
          {
            subtitle: "<span class='fig-rhombus black'></span>",
            title: "Власна команда експертів",
            description: "Усі завдання виконує наша досвідчена внутрішня команда. Ви співпрацюєте напряму з фахівцями з оптимізації конверсій, які швидко реалізують проєкт і несуть повну відповідальність."
          },
          {
            subtitle: "<span class='fig-rhombus black'></span>",
            title: "Прозоре та гнучке ціноутворення",
            description: "Прозоре і прогнозоване ціноутворення, яке легко масштабується під розмір та потреби вашого бізнесу. Ми створюємо індивідуальні пакети, щоб ви знали точну вартість ваших вкладень."
          },
          {
            subtitle: "<span class='fig-rhombus black'></span>",
            title: "Переконливий досвід у сфері електронної комерції та Shopify",
            description: "Наш досвід включає партнерство з багатьма брендами eCommerce і Shopify для вирішення проблем конверсії, покращення користувацького досвіду та ефективного зростання онлайн-продажів."
          },
          {
            subtitle: "<span class='fig-rhombus black'></span>",
            title: "Надійне партнерство",
            description: "Ми дотримуємося строків, відкрито спілкуємося і виконуємо обіцянки. Стаємо продовженням вашої команди, працюючи на спільне зростання бізнесу."
          }
        ]
      })
    %>


    <%- include('layout/section/works.ejs', {
      locale: 'ua',
      id: "service-portfolio",
      theme: "dark",
      title: "Портфоліо",
      subtitle: "<span class='hide-desk'>Наші проекти</span><span class='hide-mob'>Фундамент<br> ефективного <br>цифрового <br>досвіду</span>",
      description: "Портфоліо брендів, яким ми допомогли зростати завдяки стратегії, дизайну та технологіям. Кожен проєкт — це доказ нашої відданості у створенні стійкого цифрового досвіду.",
      items: [
        {
          title: "Naya Tech",
          text: "Дизайн та розробка на Shopify для технологічного стартапу",
          link: "https://naya.tech/",
          background_image: "/images/sections/works/card-1-bg.png",
          icons: ['shopify']
        },
        {
          title: "Bonkind",
          text: "Айдентика бренду та редизайн e-commerce у сфері здоров'я",
          link: "https://naya.tech/",
          background_image: "/images/sections/works/card-2-bg.png",
          icons: ['figma', 'ai']
        },
        {
          title: "KLOTT",
          text: "Налаштування та кастомізація Shopify магазину для fashion-бренду",
          link: "https://ua.klottclothes.com/",
          background_image: "/images/sections/works/card-3-bg.png",
          icons: ['git', 'shopify']
        }
      ]
    }) %>

    <%-
      include('layout/section/split.ejs', {
        locale: 'ua',
        theme: 'light',
        id: "service-expertise",
        title: "Досвід",
        subtitle: "Досвід роботи <br><span class='accent'>в ключових <br class='br-mob'>галузях</span>",
        description: "<h2 class='title up'>10</h2><p>Ми працювали в 10 галузях та досягли кращих результатів для клієнтів</p>",
        media_cards: [
          {
            title: "Фешн",
            image: "/images/pages/service/index/industries/card-1.png"
          },
          {
            title: "краса",
            image: "/images/pages/service/index/industries/card-2.png"
          },
          {
            title: "авто",
            image: "/images/pages/service/index/industries/card-3.png"
          },
          {
            title: "Їжа та напої",
            image: "/images/pages/service/index/industries/card-4.png"
          },
          {
            title: "Ювелірні вироби та розкіш",
            image: "/images/pages/service/index/industries/card-5.png"
          },
          {
            title: "Меблі та декор",
            image: "/images/pages/service/index/industries/card-6.png"
          },
          {
            title: "Здоров'я та харчові добавки",
            image: "/images/pages/service/index/industries/card-7.png"
          },
          {
            title: "Сумки та аксесуари",
            image: "/images/pages/service/index/industries/card-8.png"
          },
          {
            title: "Технології та гаджети",
            image: "/images/pages/service/index/industries/card-9.png"
          },
          {
            title: "Спорт та стиль життя",
            image: "/images/pages/service/index/industries/card-10.png"
          },
        ]
      })
    %>

    <%-
      include('layout/section/faq.ejs', {
        locale: 'ua',
        id: 'service-faq',
        title: 'Етапи роботи',
        subtitle: '<span class="accent">Як працює</span><br> Base-X-Tech',
        button: {
          text: "Обговорити проект"
        },
        faq: [
          {
            title: "Дослідження і визначення цілей",
            description: "Спільно з вами ми враховуємо бізнес-цілі, проводимо аналіз сайту чи магазину та визначаємо основні завдання для підвищення конверсії."
          },
          {
            title: "Аудит і аналіз",
            description: "Ми виконуємо глибокий аудит вашого сайту та користувацького флоу, базуючись на аналітичних показниках і поведінкових інсайтах, щоб ідентифікувати області для вдосконалення."
          },
          {
            title: "Планування і тестування",
            description: "We create a customized CRO roadmap and launch structured tests to uncover the highest-converting versions of your key pages and elements."
          },
          {
            title: "Відстеження результатів та покращення",
            description: "Ми контролюємо результати, надаємо зрозумілі звіти і регулярно вдосконалюємо ваш сайт у процесі оптимізації для досягнення цілей конверсії."
          }
        ]
      })
    %>

    <%- include('layout/section/approach-ua.ejs') -%>

    <%- include('layout/section/cta-uk.ejs') %>
  </main>

  <%- include('layout/footer-ua.ejs') %>



  <script type="module" src="/src/main.js"></script>
  <script type="module" src="/src/page-service.js"></script>
</body>
</html>
