<!DOCTYPE html>
<html lang="ua">
<%- include('layout/head-alt.ejs', {
  title: "Web design під ключ – створення вебдизайну для сайтів | BaseX-Tech",
  description: "Веб-дизайн та розробка ➤ BaseX-Tech ⭐️ Ми створюємо рішення, які поєднують інновації, ефективність і реальний вплив на зростання бізнесу.",
  hrefLangCode: "en",
  hrefLangLink: "https://base-xtech.com/pages/service/custom-web-design-services.html",
  hreflangDefault: "https://base-xtech.com/pages/service/custom-web-design-services.html"
}) %>
<body class="locale-ua">
  <%- include('layout/noscript.ejs') %>

  <%- include('layout/header-alt-ua.ejs') %>
  <%- include('layout/drawer/nav-ua.ejs') %>
  <%- include('layout/drawer/form-ua.ejs') %>

  <main id="sevice-custom-web-design-services" >
    <%-
      include('layout/section/hero-type-two.ejs', {
        locale: 'ua',
        id: "service-hero",
        title: "Індивідуальні web design рішення",
        subtitle: "Перетворюємо ідеї у привабливий та функціональний дизайн",
        description: "Ми розробляємо сайти з унікальним дизайном, адаптивною версткою та продуманим користувацьким досвідом. Усі рішення спрямовані на досягнення ваших бізнес-цілей і ефективну взаємодію з клієнтами.",
        icons: [
          "shopify",
          "figma"
        ]
      })
    %>

    <%-
      include('layout/section/hero-image.ejs', {
        locale: 'en',
        id: "hero-banner",
        background_image: "/images/pages/service/custom-web-design-services/hero-image/bg.png",
        background_image_mob: "/images/pages/service/custom-web-design-services/hero-image/bg-mob.png"
      })
    %>

    <%-
      include('layout/section/split.ejs', {
        locale: 'ua',
        theme: 'light',
        id: "service-type-of-apps",
        title: "Послуги та технології",
        subtitle: "Що передбачає <br class='br-desk'>Розробка <span class='accent'>індивідуального дизайну</span>",
        cards: [
          {
            title: "Унікальна дизайн концепція",
            description: "Ми створюємо дизайн, адаптований до вашого бренду, ринку та очікувань клієнтів. Наша команда зосереджується на візуальному сторітелінгу, інтуїтивній навігації та розробці дизайн-систем, що масштабуються разом із вашим бізнесом. Кожен проєкт структурується з урахуванням довгострокового розвитку та зручного оновлення в майбутньому",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
          {
            title: "Адаптивний та mobile-first дизайн",
            description: "Ми створюємо сайти, що бездоганно адаптуються під будь-який пристрій — від десктопів до смартфонів. Забезпечуємо швидкий запуск, плавну роботу і ідеальний вигляд на всіх екранах.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
          {
            title: "Персоналізована UI та UX Стратегія",
            description: "Створюємо зручний і цікавий UX, що спрямовує користувача і підвищує конверсію. Плануємо кожен крок: від вайрфреймів до прототипів, щоб забезпечити максимальну ефективність.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
          {
            title: "Дизайн інтернет-магазину",
            description: "Ми спеціалізуємося на створенні eCommerce-сайтів із привабливим дизайном та високою конверсією. Працюємо як з Shopify, так і з індивідуальними платформами, проектуючи сторінки продуктів, чек-аут та користувацький досвід, що підвищує продажі.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
          {
            title: "Редизайн та оптимізація сайту",
            description: "Ми оновлюємо сайти з низькою ефективністю, впроваджуючи сучасний дизайн, прискорюючи завантаження та покращуючи функціональність. Наші редизайни спрямовані на підвищення залученості користувачів, утримання аудиторії та досягнення вимірюваних бізнес-результатів.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
          {
            title: "Брендинг та візуальна цілісність",
            description: "Ми формуємо цілісний образ бренду, поєднуючи шрифти, кольори, іконки та зображення. Наші професійні стандарти дизайну забезпечують вишукану та впізнавану онлайн-присутність, що резонує з вашою аудиторією.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          }
        ]
      })
    %>

    <%-
      include('layout/section/split.ejs', {
        locale: 'ua',
        theme: 'light',
        id: "service-advantages",
        title: "ПЕРЕВАГИ",
        subtitle: "<span class='accent'>Чому обирають</span><br> Base-X-Tech",
        content_cards: [
          {
            subtitle: "<span class='fig-rhombus black'></span>",
            title: "Дизайн, орієнтований на бізнес",
            description: "Ми фокусуємось на вимірюваних результатах — більше лідів, вищі конверсії та зручніший досвід для клієнтів. Кожне дизайнерське рішення підтримує ваші основні бізнес-цілі."
          },
          {
            subtitle: "<span class='fig-rhombus black'></span>",
            title: "Власна команда, без посередників",
            description: "Усі роботи здійснює наша внутрішня команда. Без фрілансерів, без затримок, з прямим зв’язком із дизайнерами, які працюють над вашим проєктом."
          },
          {
            subtitle: "<span class='fig-rhombus black'></span>",
            title: "Ефективність та гнучкість",
            description: "Працюємо швидко, пристосовуючись до ваших вимог. Регулярні оновлення забезпечують повну прозорість упродовж усього проєкту."
          },
          {
            subtitle: "<span class='fig-rhombus black'></span>",
            title: "Досвід роботи з різними платформами",
            description: "Від корпоративних сайтів і інтерактивних лендингів до повноцінних інтернет-магазинів на Shopify — ми розробляємо рішення для будь-якої платформи та будь-якого користувацького досвіду."
          },
          {
            subtitle: "<span class='fig-rhombus black'></span>",
            title: "Прозорий і чесний підхід",
            description: "Ми гарантуємо виконання зобов’язань, прозорі терміни, справедливе ціноутворення та комфортний процес співпраці від початку до завершення проєкту."
          },
        ]
      })
    %>


    <%- include('layout/section/works.ejs', {
      locale: 'ua',
      id: "service-portfolio",
      theme: "dark",
      title: "Портфоліо",
      subtitle: "<span class='hide-desk'>Наші проекти</span><span class='hide-mob'>Фундамент<br> ефективного <br>цифрового <br>досвіду</span>",
      description: "Портфоліо брендів, яким ми допомогли зростати завдяки стратегії, дизайну та технологіям. Кожен проєкт — це доказ нашої відданості у створенні стійкого цифрового досвіду.",
      items: [
        {
          title: "Naya Tech",
          text: "Дизайн та розробка на Shopify для технологічного стартапу",
          link: "https://naya.tech/",
          background_image: "/images/sections/works/card-1-bg.png",
          icons: ['shopify']
        },
        {
          title: "Bonkind",
          text: "Айдентика бренду та редизайн e-commerce у сфері здоров'я",
          link: "https://naya.tech/",
          background_image: "/images/sections/works/card-2-bg.png",
          icons: ['figma', 'ai']
        },
        {
          title: "KLOTT",
          text: "Налаштування та кастомізація Shopify магазину для fashion-бренду",
          link: "https://ua.klottclothes.com/",
          background_image: "/images/sections/works/card-3-bg.png",
          icons: ['git', 'shopify']
        }
      ]
    }) %>

    <%-
      include('layout/section/split.ejs', {
        locale: 'ua',
        theme: 'light',
        id: "service-expertise",
        title: "Досвід",
        subtitle: "Досвід роботи <br><span class='accent'>в ключових <br class='br-mob'>галузях</span>",
        description: "<h2 class='title up'>10</h2><p>Ми працювали в 10 галузях та досягли кращих результатів для клієнтів</p>",
        media_cards: [
          {
            title: "Фешн",
            image: "/images/pages/service/index/industries/card-1.png"
          },
          {
            title: "Краса",
            image: "/images/pages/service/index/industries/card-2.png"
          },
          {
            title: "авто",
            image: "/images/pages/service/index/industries/card-3.png"
          },
          {
            title: "Їжа та напої",
            image: "/images/pages/service/index/industries/card-4.png"
          },
          {
            title: "Ювелірні вироби та розкіш",
            image: "/images/pages/service/index/industries/card-5.png"
          },
          {
            title: "Меблі та декор",
            image: "/images/pages/service/index/industries/card-6.png"
          },
          {
            title: "Здоров'я та харчові добавки",
            image: "/images/pages/service/index/industries/card-7.png"
          },
          {
            title: "Сумки та аксесуари",
            image: "/images/pages/service/index/industries/card-8.png"
          },
          {
            title: "Технології та гаджети",
            image: "/images/pages/service/index/industries/card-9.png"
          },
          {
            title: "Спорт та стиль життя",
            image: "/images/pages/service/index/industries/card-10.png"
          },
        ]
      })
    %>

    <%-
      include('layout/section/faq.ejs', {
        locale: 'ua',
        id: 'service-faq',
        title: 'етапи роботи',
        subtitle: '<span class="accent">Як працює</span><br> at Base-X-Tech',
        button: {
          text: "Обговорити проект"
        },
        faq: [
          {
            title: "Дослідження та аналіз",
            description: "Ми ретельно вивчаємо ваш бізнес, аудиторію та конкурентне середовище. Спільно визначаємо цілі дизайну, аналізуємо джерела натхнення та плануємо креативний напрямок."
          },
          {
            title: "Створення прототипу та планування проєкту",
            description: "Ми плануємо структуру сайту та створюємо прототипи основних сторінок, що допомагає вам краще зрозуміти шлях користувача перед початком дизайну."
          },
          {
            title: "Дизайн",
            description: "Ми втілюємо ідеї у деталізовані, високоякісні макети та інтерактивні прототипи. Ви надаєте відгуки на кожному етапі перед початком розробки."
          },
          {
            title: "Передача проєкту та підтримка під час запуску",
            description: "Після затвердження ми готуємо всі дизайнерські матеріали, стилістичні гіди та надаємо повну підтримку для забезпечення плавної реалізації та ідеального результату."
          }
        ]
      })
    %>

    <%- include('layout/section/approach-ua.ejs') -%>

    <%- include('layout/section/cta-uk.ejs') %>
  </main>

  <%- include('layout/footer-ua.ejs') %>



  <script type="module" src="/src/main.js"></script>
  <script type="module" src="/src/page-service.js"></script>
</body>
</html>
