<!DOCTYPE html>
<html lang="ua">
<%- include('layout/head-alt.ejs', {
  title: "SEO-просування для бізнесу | BaseX-Tech",
  description: "SEO-просування ➤ BaseX-Tech ⭐️ Ми допомагаємо вашому бізнесу зростати завдяки стратегіям SEO, які покращують позиції в пошуку, залучають органічний трафік та збільшують конверсії.",
  hrefLangCode: "en",
  hrefLangLink: "https://base-xtech.com/pages/service/seo-promotion",
  hreflangDefault: "https://base-xtech.com/uk/pages/service/seo-promotion"
}) %>
<body class="locale-ua">
  <%- include('layout/noscript.ejs') %>

  <%- include('layout/header-alt-ua.ejs') %>
  <%- include('layout/drawer/nav-ua.ejs') %>
  <%- include('layout/drawer/form-ua.ejs') %>

  <main id="seo-promotion">
    <%-
      include('layout/section/hero-type-two.ejs', {
        locale: 'ua',
        id: "service-hero",
        title: "SEO Просування",
        subtitle: "Виведіть свій сайт на вершину пошукових результатів",
        description: "Ми надаємо повномасштабну SEO-оптимізацію для Shopify магазинів - покращуємо видимість, органічний трафік та продажі, допомагаючи вашому бренду стійко зростати.",
        cards: [
          {
            image:"/images/pages/service/seo-promotion/hero/card-1.png",
            title: "Просування"
          },
          {
            image:"/images/pages/service/seo-promotion/hero/card-2.png",
            title: "SEO"
          },
        ]
      })
    %>

    <%-
      include('layout/section/split.ejs', {
        locale: 'ua',
        theme: 'light',
        id: "service-type-of-apps",
        title: "Наші послуги",
        subtitle: "Що входить у SEO-процес <span class='accent'>вашого сайту</span>",
        cards: [
          {
            empty: true
          },
          {
            title: "Технічний аудит",
            description: "Ми перевіряємо швидкість сторінок, індексацію та продуктивність вашої Shopify-теми. Виявляємо технічні проблеми в Liquid-коді, метаданих та структурі URL-адрес, щоб Google правильно індексував усі ключові сторінки.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
          {
            title: "Оптимізація контенту",
            description: "Досліджуємо ключові слова для ваших категорій, колекцій та товарів. Оновлюємо метатеги, тексти та ALT-описи згідно зі стандартами Shopify, щоб залучити цільовий органічний трафік.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
          {
            title: "Лінкбілдинг",
            description: "Розвиваємо міцний профіль внутрішніх та зовнішніх посилань для вашого магазину. Розміщуємо контент на релевантних платформах і створюємо логічну перелінковку між товарами для підвищення авторитету та покращення позицій.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
          {
            title: "Оптимізація структури сайту",
            description: "Будуємо SEO-дружню архітектуру для Shopify колекцій, категорій та тегів. Чітка структура допомагає користувачам легко знаходити продукти та покращує ефективність ранжування в пошукових системах.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
          {
            title: "Локальне SEO",
            description: "Допомагаємо вашому Shopify-бізнесу ранжуватися локально - оптимізуємо ваш Google Business Profile, сторінки локацій та відгуки, щоб залучити клієнтів поблизу.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
          {
            title: "Аналіз конкурентів",
            description: "Досліджуємо стратегії інших Shopify-брендів - їхні ключові слова, контент та зворотні посилання - щоб виявити можливості для зростання та отримати перевагу в результатах пошуку.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
          {
            title: "Моніторинг та звітність",
            description: "Відстежуємо позиції, органічний трафік та конверсії. Ви отримуєте зрозумілі звіти з інсайтами та рекомендаціями, які демонструють реальний SEO-прогрес вашого Shopify-магазину.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
        ]
      })
    %>

    <%-
      include('layout/section/split.ejs', {
        locale: 'ua',
        theme: 'light',
        id: "service-advantages",
        title: "Переваги",
        subtitle: "<span class='accent'>Чому обирають</span><br> Base-X-Tech",
        content_cards: [
          {
            subtitle: "<span class='fig-rhombus black'></span>",
            title: "Фокус на бізнес-результатах",
            description: "Ми зосереджені не лише на позиціях, а й на реальному зростанні продажів - більше клієнтів, більше замовлень та більша видимість бренду для вашого Shopify-магазину."
          },
          {
            subtitle: "<span class='fig-rhombus black'></span>",
            title: "Штатна команда Shopify",
            description: "Наша внутрішня команда Shopify SEO виконує весь процес - від технічного аудиту до звітності. Без аутсорсингу, без ризиків якості."
          },
          {
            subtitle: "<span class='fig-rhombus black'></span>",
            title: "Гнучкість та прозорість",
            description: "Ви отримуєте постійні оновлення з чіткою Shopify-аналітикою. Ми швидко адаптуємось до змін, оптимізуємо структуру або контент без втрати ефективності."
          },
          {
            subtitle: "<span class='fig-rhombus black'></span>",
            title: "Системний підхід",
            description: "Для нас Shopify SEO - це стратегія, а не випадкові дії. Ми аналізуємо, плануємо та виконуємо кожен крок, щоб ваш магазин стабільно зростав у результатах пошуку."
          },
          {
            subtitle: "<span class='fig-rhombus black'></span>",
            title: "Актуальні практики та інструменти",
            description: "Використовуємо останні оновлення Shopify SEO, Google Search Console, Schema markup та оптимізацію Core Web Vitals для забезпечення стабільного органічного зростання та конкурентної переваги."
          },
          {
            subtitle: "<span class='fig-rhombus black'></span>",
            title: "Прозоре ціноутворення",
            description: "Без прихованих витрат чи нечітких KPI. Ви отримуєте чіткий бюджет, визначені етапи та передбачуване зростання через вимірювані SEO-покращення."
          },
        ]
      })
    %>


    <%- include('layout/section/works.ejs', {
      locale: 'ua',
      id: "service-portfolio",
      theme: "dark",
      title: "Портфоліо",
      subtitle: "<span class='hide-desk'>Наші проекти</span><span class='hide-mob'>Фундамент<br> ефективного <br>цифрового <br>досвіду</span>",
      description: "Портфоліо брендів, яким ми допомогли зростати завдяки стратегії, дизайну та технологіям. Кожен проєкт — це доказ нашої відданості у створенні стійкого цифрового досвіду.",
      items: [
        {
          title: "Naya Tech",
          text: "Дизайн та розробка на Shopify для технологічного стартапу",
          link: "https://naya.tech/",
          background_image: "/images/sections/works/card-1-bg.png",
          icons: ['shopify']
        },
        {
          title: "Bonkind",
          text: "Айдентика бренду та редизайн e-commerce у сфері здоров'я",
          link: "https://naya.tech/",
          background_image: "/images/sections/works/card-2-bg.png",
          icons: ['figma', 'ai']
        },
        {
          title: "KLOTT",
          text: "Налаштування та кастомізація Shopify магазину для fashion-бренду",
          link: "https://ua.klottclothes.com/",
          background_image: "/images/sections/works/card-3-bg.png",
          icons: ['git', 'shopify']
        }
      ]
    }) %>

    <%-
      include('layout/section/split.ejs', {
        locale: 'ua',
        theme: 'light',
        id: "service-expertise",
        title: "Досвід",
        subtitle: "Досвід роботи <br><span class='accent'>в ключових <br class='br-mob'>галузях</span>",
        description: "<h2 class='title up'>10</h2><p>Ми працювали в 10 галузях та досягли кращих результатів для клієнтів</p>",
        media_cards: [
          {
            title: "Фешн",
            image: "/images/pages/service/index/industries/card-1.png"
          },
          {
            title: "Краса",
            image: "/images/pages/service/index/industries/card-2.png"
          },
          {
            title: "авто",
            image: "/images/pages/service/index/industries/card-3.png"
          },
          {
            title: "Їжа та напої",
            image: "/images/pages/service/index/industries/card-4.png"
          },
          {
            title: "Ювелірні вироби та розкіш",
            image: "/images/pages/service/index/industries/card-5.png"
          },
          {
            title: "Меблі та декор",
            image: "/images/pages/service/index/industries/card-6.png"
          },
          {
            title: "Здоров'я та харчові добавки",
            image: "/images/pages/service/index/industries/card-7.png"
          },
          {
            title: "Сумки та аксесуари",
            image: "/images/pages/service/index/industries/card-8.png"
          },
          {
            title: "Технології та гаджети",
            image: "/images/pages/service/index/industries/card-9.png"
          },
          {
            title: "Спорт та стиль життя",
            image: "/images/pages/service/index/industries/card-10.png"
          },
        ]
      })
    %>

    <%-
      include('layout/section/faq.ejs', {
        locale: 'ua',
        id: 'service-faq',
        title: 'етапи роботи',
        subtitle: '<span class="accent">Як працює</span><br> at Base-X-Tech',
        button: {
          text: "Обговорити проект"
        },
        faq: [
          {
            title: "Ознайомчий дзвінок",
            description: "Ви ділитеся своїм баченням магазину, ми уважно слухаємо й визначаємо ваші цілі. Це допомагає сформувати основу майбутньої SEO-стратегії."
          },
          {
            title: "Визначення бізнес-вимог",
            description: "Аналізуємо ваш ринок, конкурентів і структуру Shopify-каталогу. Вибудовуємо SEO-процес так, щоб він приносив не лише трафік, а й реальні продажі."
          },
          {
            title: "Проєктування рішення",
            description: "Розробляємо покроковий план: технічна оптимізація, контент, посилання, аналітика. Створюємо зрозумілу дорожню карту для стабільного SEO-зростання."
          },
          {
            title: "Реалізація",
            description: "Впроваджуємо всі SEO-зміни у вашому Shopify-магазині: оптимізуємо сторінки, виправляємо технічні деталі, покращуємо структуру й контент."
          },
          {
            title: "Пояснення та передача",
            description: "Показуємо реалізовані оновлення, демонструємо результати у звітах Shopify-аналітики та пояснюємо, як підтримувати стабільні позиції в пошуку."
          }
        ]
      })
    %>

    <%- include('layout/section/approach-ua.ejs') -%>

    <%- include('layout/section/cta-uk.ejs') %>
  </main>

  <%- include('layout/footer-ua.ejs') %>



  <script type="module" src="/src/main.js"></script>
  <script type="module" src="/src/page-service.js"></script>
</body>
</html>
