<!DOCTYPE html>
<html lang="ua">
<%- include('layout/head-alt.ejs', {
  title: "Міграція eCommerce-проєктів на Shopify | BaseX-Tech",
  description: "Веб-дизайн та розробка ➤ BaseX-Tech ⭐️ Ми створюємо рішення, які поєднують інновації, ефективність і реальний вплив на зростання бізнесу.",
  hrefLangCode: "en",
  hrefLangLink: "https://base-xtech.com/pages/service/shopify-migration-service",
  hreflangDefault: "https://base-xtech.com/uk/pages/service/shopify-migration-service"
}) %>
<body class="locale-ua">
  <%- include('layout/noscript.ejs') %>

  <%- include('layout/header-alt-ua.ejs') %>
  <%- include('layout/drawer/nav-ua.ejs') %>
  <%- include('layout/drawer/form-ua.ejs') %>

  <main id="custom-shopify-integrations">
    <%-
      include('layout/section/hero-type-two.ejs', {
        locale: 'ua',
        id: "service-hero",
        title: "Послуги <br>Міграції <br>Shopify",
        subtitle: "Надійна міграція вашого магазину до Shopify",
        description: "Ми забезпечуємо надійну та швидку міграцію на Shopify із повним збереженням даних, дизайну та функціоналу вашого магазину.",
        icons: [
          "webflow",
          "magento",
          "opencart",
          "bigcommerce",
        ]
      })
    %>

    <%-
      include('layout/section/split.ejs', {
        locale: 'ua',
        theme: 'light',
        id: "service-type-of-apps",
        title: "Послуги та технології",
        subtitle: "Перенесіть свій магазин до Shopify, <span class='accent'>без зайвого стресу</span>",
        cards: [
          {
            empty: true
          },
          {
            title: "Міграція товарів та каталогу",
            description: "Ми переносимо повний набір даних про ваші товари: назви, артикульні номери (SKU), описи, ціни, зображення, варіанти, категорії, теги та SEO-метадані. Незалежно від того, чи у вас 50 товарів, чи 50 000, ми гарантуємо збереження всіх даних без потреби у ручному введенні після міграції. Ваш каталог буде коректно структурований, точний та готовий до роботи з клієнтами.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
          {
            title: "Міграція даних клієнтів і замовлень",
            description: "Ми переносимо повні дані про ваших клієнтів та історію замовлень у Shopify. Забезпечуємо збереження контактної інформації, платіжних даних, статусів замовлень і пов’язаної аналітики. Усі дані структуруються та інтегруються без втрат і помилок.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
          {
            title: "Дизайн та адаптація",
            description: "Ми відтворюємо, оптимізуємо або вдосконалюємо існуючий дизайн вашого магазину для Shopify. Незалежно від того, чи бажаєте ви оновити вигляд магазину або зберегти звичний стиль, наша команда Shopify-експертів забезпечить узгодженість з брендом, адаптивність для мобільних пристроїв і високу продуктивність.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
          {
            title: "Інтеграція зовнішніх сервісів та застосунків",
            description: "Ми відновлюємо підключення всіх необхідних застосунків і сторонніх сервісів без втрати функцій. Наша команда інтегрує маркетингові платформи, CRM, логістичні рішення, бухгалтерські системи та індивідуальні API, щоб ваш бізнес працював без збоїв.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
          {
            title: "Перенесення магазину на Shopify з будь-якої платформи",
            description: "Незалежно від того, чи переходите ви з Magento, WooCommerce, BigCommerce, PrestaShop, Wix, Squarespace чи власноруч розробленого магазину, ми допоможемо вам швидко та ефективно перенести його на Shopify. Ми мінімізуємо ризики та затримки, зберігаючи всі важливі дані та функціональні можливості вашого магазину.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
          {
            title: "SEO та збереження структури URL",
            description: "Ми захищаємо ваш трафік і пошукові позиції, налаштовуючи перенаправлення для кожної наявної URL-адреси. Кожен проєкт міграції на Shopify включає SEO-аудит, перевірку помилок і повне налаштування редіректів для збереження присутності вашого магазину в пошукових системах після перенесення.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
          {
            title: "Підготовка до запуску: тестування та оптимізація",
            description: "Перед запуском магазину ми ретельно перевіряємо його на комп’ютерах і мобільних пристроях. Тестуємо швидкість, безпеку, адаптивність, checkout та сторонні інтеграції, гарантуючи стабільну та коректну роботу з першого дня.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
        ]
      })
    %>

    <%-
      include('layout/section/split.ejs', {
        locale: 'ua',
        theme: 'light',
        id: "service-advantages",
        title: "Переваги",
        subtitle: "<span class='accent'>Чому обирають</span><br> Base-X-Tech",
        content_cards: [
          {
            subtitle: "<span class='fig-rhombus black'></span>",
            title: "Підхід, орієнтований на результат",
            description: "Наша мета полягає не лише в перенесенні даних. Ми допомагаємо вам створити магазин Shopify, який забезпечує вищу конверсію, кращу зручність використання та довгострокову масштабованість."
          },
          {
            subtitle: "<span class='fig-rhombus black'></span>",
            title: "Реалізація без залучення сторонніх підрядників",
            description: "Усі роботи з міграції здійснюються винятково нашою штатною командою. Ми не залучаємо сторонніх виконавців, що гарантує прозорість, контроль якості та чітке розуміння відповідальних на кожному етапі проєкту."
          },
          {
            subtitle: "<span class='fig-rhombus black'></span>",
            title: "Швидкість та гнучкість",
            description: "Ми оперативно реагуємо на ваші потреби та забезпечуємо чітке дотримання графіку з постійним інформуванням про хід проєкту."
          },
          {
            subtitle: "<span class='fig-rhombus black'></span>",
            title: "Shopify — наша спеціалізація",
            description: "За нами — десятки успішних міграцій на Shopify для компаній з різних сфер. Ми знаємо, що працює, що ні, та допоможемо вам уникнути дорогих помилок і непотрібних ризиків під час переходу."
          },
          {
            subtitle: "<span class='fig-rhombus black'></span>",
            title: "Прозорість та відповідальність",
            description: "Ми дотримуємося принципів прозорості: жодних прихованих платежів, чітко визначені результати та саме те, що було обіцяно. Ви отримуєте надійного партнера, для якого важливі як якість, так і прозорість у роботі."
          },
        ]
      })
    %>


    <%- include('layout/section/works.ejs', {
      locale: 'ua',
      id: "service-portfolio",
      theme: "dark",
      title: "Портфоліо",
      subtitle: "<span class='hide-desk'>Наші проекти</span><span class='hide-mob'>Фундамент<br> ефективного <br>цифрового <br>досвіду</span>",
      description: "Портфоліо брендів, яким ми допомогли зростати завдяки стратегії, дизайну та технологіям. Кожен проєкт — це доказ нашої відданості у створенні стійкого цифрового досвіду.",
      items: [
        {
          title: "Naya Tech",
          text: "Дизайн та розробка на Shopify для технологічного стартапу",
          link: "https://naya.tech/",
          background_image: "/images/sections/works/card-1-bg.png",
          icons: ['shopify']
        },
        {
          title: "Bonkind",
          text: "Айдентика бренду та редизайн e-commerce у сфері здоров'я",
          link: "https://naya.tech/",
          background_image: "/images/sections/works/card-2-bg.png",
          icons: ['figma', 'ai']
        },
        {
          title: "KLOTT",
          text: "Налаштування та кастомізація Shopify магазину для fashion-бренду",
          link: "https://ua.klottclothes.com/",
          background_image: "/images/sections/works/card-3-bg.png",
          icons: ['git', 'shopify']
        }
      ]
    }) %>

    <%-
      include('layout/section/split.ejs', {
        locale: 'ua',
        theme: 'light',
        id: "service-expertise",
        title: "Досвід",
        subtitle: "Досвід роботи <br><span class='accent'>в ключових <br class='br-mob'>галузях</span>",
        description: "<h2 class='title up'>10</h2><p>Ми працювали в 10 галузях та досягли кращих результатів для клієнтів</p>",
        media_cards: [
          {
            title: "Фешн",
            image: "/images/pages/service/index/industries/card-1.png"
          },
          {
            title: "Краса",
            image: "/images/pages/service/index/industries/card-2.png"
          },
          {
            title: "авто",
            image: "/images/pages/service/index/industries/card-3.png"
          },
          {
            title: "Їжа та напої",
            image: "/images/pages/service/index/industries/card-4.png"
          },
          {
            title: "Ювелірні вироби та розкіш",
            image: "/images/pages/service/index/industries/card-5.png"
          },
          {
            title: "Меблі та декор",
            image: "/images/pages/service/index/industries/card-6.png"
          },
          {
            title: "Здоров'я та харчові добавки",
            image: "/images/pages/service/index/industries/card-7.png"
          },
          {
            title: "Сумки та аксесуари",
            image: "/images/pages/service/index/industries/card-8.png"
          },
          {
            title: "Технології та гаджети",
            image: "/images/pages/service/index/industries/card-9.png"
          },
          {
            title: "Спорт та стиль життя",
            image: "/images/pages/service/index/industries/card-10.png"
          },
        ]
      })
    %>

    <%-
      include('layout/section/faq.ejs', {
        locale: 'ua',
        id: 'service-faq',
        title: 'етапи роботи',
        subtitle: '<span class="accent">Як працює</span><br> at Base-X-Tech',
        button: {
          text: "Обговорити проект"
        },
        faq: [
          {
            title: "Стратегічна сесія",
            description: "Спершу ми аналізуємо вашу платформу, труднощі та цілі бізнесу. Після цього формуємо цілі міграції та узгоджуємо обсяг робіт."
          },
          {
            title: "Планування міграції",
            description: "Ми складаємо проєктний план із чітко визначеними етапами, термінами, результатами та оцінкою ризиків. Ви матимете повне розуміння всіх процесів ще до старту робіт."
          },
          {
            title: "Міграція даних та налаштування магазину",
            description: "Ми забезпечуємо безпечну міграцію даних, створення магазину в Shopify, індивідуальне налаштування дизайну, підключення застосунків і повну конфігурацію магазину згідно з вашими завданнями."
          },
          {
            title: "Тестування та запуск",
            description: "Ми ретельно тестуємо магазин на всіх пристроях та у різних браузерах. Після запуску надаємо підтримку та допомагаємо швидко вносити необхідні зміни в міру зростання вашого бізнесу."
          }
        ]
      })
    %>

    <%- include('layout/section/approach-ua.ejs') -%>

    <%- include('layout/section/cta-uk.ejs') %>
  </main>

  <%- include('layout/footer-ua.ejs') %>



  <script type="module" src="/src/main.js"></script>
  <script type="module" src="/src/page-service.js"></script>
</body>
</html>
