<!DOCTYPE html>
<html lang="ua">
<%- include('layout/head-alt.ejs', {
  title: "Кастомна headless розробка Shopify-магазинів | BaseX-Tech",
  description: "Веб-дизайн та розробка ➤ BaseX-Tech ⭐️ Ми створюємо рішення, які поєднують інновації, ефективність і реальний вплив на зростання бізнесу.",
  hrefLangCode: "en",
  hrefLangLink: "https://base-xtech.com/pages/service/shopify-headless-development",
  hreflangDefault: "https://base-xtech.com/uk/pages/service/shopify-headless-development"
}) %>
<body class="locale-ua">
  <%- include('layout/noscript.ejs') %>

  <%- include('layout/header-alt-ua.ejs') %>
  <%- include('layout/drawer/nav-ua.ejs') %>
  <%- include('layout/drawer/form-ua.ejs') %>

  <main id="custom-shopify-integrations">
    <%-
      include('layout/section/hero-type-two.ejs', {
        locale: 'ua',
        id: "service-hero",
        title: "Headless <br class='br-desk'>розробка <br class='br-desk'>Shopify",
        subtitle: "minimum viable product design",
        description: "Ми впроваджуємо headless-архітектуру для Shopify, що дозволяє створювати повністю кастомізовані фронтенди з блискавичною швидкістю та винятковим користувацьким досвідом.",
        icons: [
          "shopify"
        ]
      })
    %>

    <%-
      include('layout/section/split.ejs', {
        locale: 'ua',
        theme: 'light',
        id: "service-type-of-apps",
        title: "ПОСЛУГИ ТА ТЕХНОЛОГІЇ",
        subtitle: "<span class='accent'>Розблокуйте<br class='br-mob'>  безмежну<br> гнучкість та швидкість</span><br class='br-desk'>  для вашого магазину Shopify",
        cards: [
          {
            empty: true
          },
          {
            title: "Максимальна свобода дизайну",
            description: "Традиційні теми Shopify можуть обмежувати вашу креативність. Headless-розробка дозволяє нам створювати повністю кастомізовані користувацькі інтерфейси з використанням сучасних фреймворків, таких як React, Next.js, Vue.js та інших, надаючи вашому магазину унікальний вигляд і відчуття.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
          {
            title: "Блискавична продуктивність",
            description: "Відокремлюючи ваш фронтенд від бекенду Shopify, ваш магазин завантажується швидше і реагує миттєво. Це утримує ваших клієнтів зацікавленими і зменшує показник відмов, що призводить до вищих конверсій і кращих SEO-рейтингов.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
          {
            title: "Безшовна багатоканальна інтеграція",
            description: "Headless-архітектура дозволяє легко підключати ваш магазин до додатків, маркетплейсів і сторонніх сервісів. Продавайте на веб-сайті, мобільних додатках, соціальних платформах, кіосках або будь-де ще — все це працює на основі єдиної бекенд-системи.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
          {
            title: "Масштабованість та готовність до майбутнього",
            description: "Ваш бізнес зростає, і ваша технологія повинна також. Headless-налаштування легше масштабувати, налаштовувати та адаптувати до нових тенденцій без обмежень жорстких шаблонів. Це також допомагає вам більш ефективно контролювати довгострокові витрати на розробку та обслуговування.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
          {
            title: "Вийняткові SEO та доступність",
            description: "Headless-магазини Shopify пропонують повний контроль над структурою, метаданими та доставкою контенту. Ми оптимізуємо кожен елемент, щоб покращити вашу видимість у пошукових системах і зробити ваш магазин доступним для кожного користувача. Shopify залишається вашим безпечним і надійним CMS, в той час як ваш користувацький досвід повністю налаштований на фронтенді.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
        ]
      })
    %>

    <%-
      include('layout/section/split.ejs', {
        locale: 'ua',
        theme: 'light',
        id: "service-advantages",
        title: "Переваги",
        subtitle: "<span class='accent'>Чому обирають</span><br> Base-X-Tech",
        content_cards: [
          {
            subtitle: "<span class='fig-rhombus black'></span>",
            title: "Ми розуміємося на бізнесі, а не лише на коді",
            description: "Наше завдання — допомогти вам зростати. Ми розуміємо, як використовувати технології для збільшення продажів, підвищення залученості клієнтів і створення довгострокової лояльності до бренду."
          },
          {
            subtitle: "<span class='fig-rhombus black'></span>",
            title: "Рішення «під ключ» — без аутсорсингу",
            description: "Усі роботи над вашим проєктом виконує наша внутрішня команда. Це забезпечує злагоджену комунікацію, оперативне виконання та прозору відповідальність."
          },
          {
            subtitle: "<span class='fig-rhombus black'></span>",
            title: "Гнучкий і прозорий робочий процес",
            description: "Ми працюємо швидко, легко адаптуємося і відкрито спілкуємося. Ви завжди в курсі справ з чіткими термінами та регулярними оновленнями про хід роботи."
          },
          {
            subtitle: "<span class='fig-rhombus black'></span>",
            title: "Shopify та Headless — ми знаємо, як це працює",
            description: "Завдяки глибокому розумінню платформи, API та перевірених підходів, ми створюємо headless-рішення, які відразу працюють стабільно та ефективно"
          },
          {
            subtitle: "<span class='fig-rhombus black'></span>",
            title: "Прозора та чесна співпраця",
            description: "Без прихованих платежів та порожніх обіцянок. Ми встановлюємо реалістичні очікування, дотримуємося своїх зобов'язань і завжди виконуємо обіцяне."
          },
        ]
      })
    %>


    <%- include('layout/section/works.ejs', {
      locale: 'ua',
      id: "service-portfolio",
      theme: "dark",
      title: "Портфоліо",
      subtitle: "<span class='hide-desk'>Наші проекти</span><span class='hide-mob'>Фундамент<br> ефективного <br>цифрового <br>досвіду</span>",
      description: "Портфоліо брендів, яким ми допомогли зростати завдяки стратегії, дизайну та технологіям. Кожен проєкт — це доказ нашої відданості у створенні стійкого цифрового досвіду.",
      items: [
        {
          title: "Naya Tech",
          text: "Дизайн та розробка на Shopify для технологічного стартапу",
          link: "https://naya.tech/",
          background_image: "/images/sections/works/card-1-bg.png",
          icons: ['shopify']
        },
        {
          title: "Bonkind",
          text: "Айдентика бренду та редизайн e-commerce у сфері здоров'я",
          link: "https://naya.tech/",
          background_image: "/images/sections/works/card-2-bg.png",
          icons: ['figma', 'ai']
        },
        {
          title: "KLOTT",
          text: "Налаштування та кастомізація Shopify магазину для fashion-бренду",
          link: "https://ua.klottclothes.com/",
          background_image: "/images/sections/works/card-3-bg.png",
          icons: ['git', 'shopify']
        }
      ]
    }) %>

    <%-
      include('layout/section/split.ejs', {
        locale: 'ua',
        theme: 'light',
        id: "service-expertise",
        title: "Досвід",
        subtitle: "Досвід роботи <br><span class='accent'>в ключових <br class='br-mob'>галузях</span>",
        description: "<h2 class='title up'>10</h2><p>Ми працювали в 10 галузях та досягли кращих результатів для клієнтів</p>",
        media_cards: [
          {
            title: "Фешн",
            image: "/images/pages/service/index/industries/card-1.png"
          },
          {
            title: "Краса",
            image: "/images/pages/service/index/industries/card-2.png"
          },
          {
            title: "авто",
            image: "/images/pages/service/index/industries/card-3.png"
          },
          {
            title: "Їжа та напої",
            image: "/images/pages/service/index/industries/card-4.png"
          },
          {
            title: "Ювелірні вироби та розкіш",
            image: "/images/pages/service/index/industries/card-5.png"
          },
          {
            title: "Меблі та декор",
            image: "/images/pages/service/index/industries/card-6.png"
          },
          {
            title: "Здоров'я та харчові добавки",
            image: "/images/pages/service/index/industries/card-7.png"
          },
          {
            title: "Сумки та аксесуари",
            image: "/images/pages/service/index/industries/card-8.png"
          },
          {
            title: "Технології та гаджети",
            image: "/images/pages/service/index/industries/card-9.png"
          },
          {
            title: "Спорт та стиль життя",
            image: "/images/pages/service/index/industries/card-10.png"
          },
        ]
      })
    %>

    <%-
      include('layout/section/faq.ejs', {
        locale: 'ua',
        id: 'service-faq',
        title: 'етапи роботи',
        subtitle: '<span class="accent">Як працює</span><br> at Base-X-Tech',
        button: {
          text: "Обговорити проєкт",
        },
        faq: [
          {
            title: "Ознайомчий дзвінок",
            description: "Перший крок — це занурення у ваш бренд: його цілі, виклики та те, як ви бачите ідеальний досвід для своїх клієнтів."
          },
          {
            title: "Проєктування рішення",
            description: "Ми створюємо архітектуру, проєктуємо прототипи та визначаємо вимоги до інтеграцій. Кожен етап ретельно спланований для ефективності та масштабованості."
          },
          {
            title: "Headless розробка",
            description: "Наша команда створює для вас індивідуальний фронтенд і підключає його до бекенду Shopify за допомогою сучасних API. Ми дотримуємося найкращих практик щодо швидкості, безпеки та зручності підтримки."
          },
          {
            title: "Тестування та запуск",
            description: "Ми ретельно тестуємо новий інтерфейс на всіх пристроях і в усіх браузерах. Коли все працює бездоганно, ми проводимо навчання та надаємо документацію, щоб ви впевнено керували своїм магазином."
          }
        ]
      })
    %>

    <%- include('layout/section/approach-ua.ejs') -%>

    <%- include('layout/section/cta-uk.ejs') %>
  </main>

  <%- include('layout/footer-ua.ejs') %>



  <script type="module" src="/src/main.js"></script>
  <script type="module" src="/src/page-service.js"></script>
</body>
</html>
