<!DOCTYPE html>
<html lang="ua">
<%- include('layout/head-alt.ejs', {
  title: "BaseX-Tech ▶️  Дизайн | Розробка | Маркетинг",
  description: "Веб-дизайн та розробка ➤ BaseX-Tech ⭐️ Ми створюємо рішення, які поєднують інновації, ефективність і реальний вплив на зростання бізнесу.",
  hrefLangCode: "en",
  hrefLangLink: "https://base-xtech.com/pages/service/shopify-theme-customization-and-development.html",
  hreflangDefault: "https://base-xtech.com/uk/pages/service/shopify-theme-customization-and-development.html"
}) %>
<body class="locale-ua">
  <%- include('layout/noscript.ejs') %>

  <%- include('layout/header-alt-ua.ejs') %>
  <%- include('layout/drawer/nav-ua.ejs') %>
  <%- include('layout/drawer/form-ua.ejs') %>

  <main id="services-shopify-theme-customization-and-development" >
    <%-
      include('layout/section/hero-type-two.ejs', {
        locale: 'ua',
        id: "service-hero",
        title: "Кастомізація<br> та розробка<br> Shopify тем",
        subtitle: "Індивідуальний дизайн інтернет-магазину",
        description: "Ми розробляємо та кастомізуємо теми Shopify відповідно до стилю вашого бренду, з фокусом на адаптивному дизайні, високій продуктивності та покращенні показників конверсії.",
        icons: [
          "shopify",
          "figma"
        ]
      })
    %>

    <%-
      include('layout/section/hero-image.ejs', {
        locale: 'en',
        id: "hero-banner",
        background_image: "/images/pages/service/shopify-theme-customization-and-development/hero/bg.png",
        background_image_mob: "/images/pages/service/shopify-theme-customization-and-development/hero/bg-mob.png"
      })
    %>

    <%-
      include('layout/section/split.ejs', {
        locale: 'ua',
        theme: 'light',
        id: "service-type-of-apps",
        title: "Послуги та технології",
        subtitle: "Дизайн магазину, що <br class='br-desk'> поєднує <span class='accent'>естетику <br class='br-desk'> та ефективність</span>",
        cards: [
          {
            empty: true
          },
          {
            title: "Ми фокусуємось на розвитку бізнесу, а не просто на дизайні",
            description: "Ми розробляємо дизайн, орієнтований на конверсію. Кожен елемент покликаний сприяти залученню, утриманню та поверненню клієнтів. Ми працюємо не лише над естетикою, а й над досягненням конкретних бізнес-цілей.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
          {
            title: "Весь процес під ключ — без залучення сторонніх виконавців",
            description: "Усі етапи проєкту реалізуються винятково силами нашої внутрішньої команди. Ми не залучаємо сторонніх виконавців, забезпечуючи контроль якості, чіткі строки та прямий зв’язок із відповідальними спеціалістами.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
          {
            title: "Оперативна комунікація та гнучкий підхід до співпраці",
            description: "Ми забезпечуємо прозору та гнучку комунікацію, оперативно реагуючи на будь-які зміни в процесі роботи та регулярно інформуючи вас про хід проєкту. Завдяки проактивному підходу ми мінімізуємо непередбачувані ситуації та швидко вносимо необхідні коригування.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
          {
            title: "Глибока експертиза в Shopify",
            description: "Ми спеціалізуємося саме на Shopify. Глибоке знання платформи дозволяє уникати дорогих помилок та забезпечує швидке й безперебійне впровадження рішень. Ви отримуєте перевагу завдяки нашому багаторічному досвіду роботи виключно з магазинами Shopify у різних галузях.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
          {
            title: "Жодних сюрпризів, тільки чіткий результат",
            description: "Обираючи Base-X-Tech, ви отримуєте чіткі дедлайни, зрозуміле ціноутворення та проєкти, які виконуються саме так, як ми обіцяємо. Ми цінуємо довіру, відповідальність і завжди орієнтуємося на результат, що перевищує очікування.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          }
        ]
      })
    %>

    <%-
      include('layout/section/split.ejs', {
        locale: 'ua',
        theme: 'light',
        id: "service-advantages",
        title: "Переваги",
        subtitle: "<span class='accent'>Чому обирають</span><br> Base-X-Tech",
        content_cards: [
          {
            subtitle: "<span class='fig-rhombus black'></span>",
            title: "Дизайн, орієнтований на зростання вашого бізнесу",
            description: "Ми проєктуємо не просто красивий інтерфейс — ми створюємо рішення, що підвищують конверсію, утримують клієнтів і роблять взаємодію з магазином максимально простою та ефективною."
          },
          {
            subtitle: "<span class='fig-rhombus black'></span>",
            title: "Власна команда Shopify-експертів",
            description: "Ми працюємо без посередників: ваш проєкт веде наша команда Shopify-експертів, з прямою комунікацією, оперативною реалізацією та повною відповідальністю за кожен етап."
          },
          {
            subtitle: "<span class='fig-rhombus black'></span>",
            title: "Гнучкий і прозорий процес співпраці",
            description: "Ми підлаштовуємо робочий процес під ваші задачі. Завдяки гнучкій моделі роботи ви отримуєте регулярні оновлення, дизайн-ітерації та постійний зворотний зв’язок на кожному етапі."
          },
          {
            subtitle: "<span class='fig-rhombus black'></span>",
            title: "Глибока Shopify експертиза",
            description: "Ми розробляємо Shopify-застосунки з урахуванням усіх технічних вимог платформи. Ваш застосунок залишатиметься стабільним, безпечним і готовим до зростання разом із бізнесом."
          },
          {
            subtitle: "<span class='fig-rhombus black'></span>",
            title: "Чесність і прозорість",
            description: "Ми працюємо за принципами прозорості та відповідальності: визначені строки, зафіксовані ціни та відкрита комунікація. Ви завжди знаєте хід проєкту й отримуєте прогнозований результат."
          },
        ]
      })
    %>


    <%- include('layout/section/works.ejs', {
      locale: 'ua',
      id: "service-portfolio",
      theme: "dark",
      title: "Портфоліо",
      subtitle: "<span class='hide-desk'>Наші проекти</span><span class='hide-mob'>Фундамент<br> ефективного <br>цифрового <br>досвіду</span>",
      description: "Портфоліо брендів, яким ми допомогли зростати завдяки стратегії, дизайну та технологіям. Кожен проєкт — це доказ нашої відданості у створенні стійкого цифрового досвіду.",
      items: [
        {
          title: "Naya Tech",
          text: "Дизайн та розробка на Shopify для технологічного стартапу",
          link: "https://naya.tech/",
          background_image: "/images/sections/works/card-1-bg.png",
          icons: ['shopify']
        },
        {
          title: "Bonkind",
          text: "Айдентика бренду та редизайн e-commerce у сфері здоров'я",
          link: "https://naya.tech/",
          background_image: "/images/sections/works/card-2-bg.png",
          icons: ['figma', 'ai']
        },
        {
          title: "KLOTT",
          text: "Налаштування та кастомізація Shopify магазину для fashion-бренду",
          link: "https://ua.klottclothes.com/",
          background_image: "/images/sections/works/card-3-bg.png",
          icons: ['git', 'shopify']
        }
      ]
    }) %>

    <%-
      include('layout/section/split.ejs', {
        locale: 'ua',
        theme: 'light',
        id: "service-expertise",
        title: "Досвід",
        subtitle: "Досвід роботи <br><span class='accent'>в ключових <br class='br-mob'>галузях</span>",
        description: "<h2 class='title up'>10</h2><p>Ми працювали в 10 галузях та досягли кращих результатів для клієнтів</p>",
        media_cards: [
          {
            title: "Фешн",
            image: "/images/pages/service/index/industries/card-1.png"
          },
          {
            title: "Краса",
            image: "/images/pages/service/index/industries/card-2.png"
          },
          {
            title: "авто",
            image: "/images/pages/service/index/industries/card-3.png"
          },
          {
            title: "Їжа та напої",
            image: "/images/pages/service/index/industries/card-4.png"
          },
          {
            title: "Ювелірні вироби та розкіш",
            image: "/images/pages/service/index/industries/card-5.png"
          },
          {
            title: "Меблі та декор",
            image: "/images/pages/service/index/industries/card-6.png"
          },
          {
            title: "Здоров'я та харчові добавки",
            image: "/images/pages/service/index/industries/card-7.png"
          },
          {
            title: "Сумки та аксесуари",
            image: "/images/pages/service/index/industries/card-8.png"
          },
          {
            title: "Технології та гаджети",
            image: "/images/pages/service/index/industries/card-9.png"
          },
          {
            title: "Спорт та стиль життя",
            image: "/images/pages/service/index/industries/card-10.png"
          },
        ]
      })
    %>

    <%-
      include('layout/section/faq.ejs', {
        locale: 'ua',
        id: 'service-faq',
        title: 'етапи роботи',
        subtitle: '<span class="accent">Як працює</span><br> at Base-X-Tech',
        button: {
          text: "Обговорити проект"
        },
        faq: [
          {
            title: "Ознайомчий дзвінок",
            description: "Ми починаємо з аналізу ваших бізнес-цілей і бачення, щоб визначити, що саме потрібно вашому магазину на Shopify. Ваші очікування формують основу для узгодження всіх етапів роботи з довгостроковими цілями."
          },
          {
            title: "Розробка структури теми",
            description: "Ми детально прописуємо візуальний стиль вашого бренду, вимоги до сторінок і очікування щодо продуктивності у вигляді документації. Завдяки спільному узгодженню кожного етапу ми досягаємо повного порозуміння ще до початку роботи."
          },
          {
            title: "Дизайн та розробка",
            description: "Кастомізація чи розробка теми, відбувається відповідно до актуальних стандартів Shopify, оптимізуючи як функціональність, так і дизайн. Перед запуском проводимо ретельне тестування та перевірку якості."
          },
          {
            title: "Контроль якості та передача проєкту клієнту",
            description: "Ми надаємо вам чіткі та зрозумілі інструкції, щоб ви могли впевнено керувати новим магазином з першого дня. Також ми залишаємося на зв’язку для підтримки після запуску чи подальших доопрацювань."
          }
        ]
      })
    %>

    <%- include('layout/section/approach-ua.ejs') -%>

    <%- include('layout/section/cta-uk.ejs') %>
  </main>

  <%- include('layout/footer-ua.ejs') %>

  <script type="module" src="/src/main.js"></script>
  <script type="module" src="/src/page-service.js"></script>
</body>
</html>
