<!DOCTYPE html>
<html lang="ua">
<%- include('layout/head-alt.ejs', {
  title: "Політика конфіденційності | BaseX-Tech",
  description: "Дізнайтеся, як Base X Tech збирає, зберігає та захищає ваші персональні дані під час використання сайту, заповнення форми чи співпраці з нами.",
  hrefLangCode: "en",
  hrefLangLink: "https://base-xtech.com/pages/privacy-policy/",
  hreflangDefault: "https://base-xtech.com/uk/pages/privacy-policy/"
}) %>
<body class="locale-ua">
  <%- include('layout/noscript.ejs') %>

  <%- include('layout/header-alt-ua.ejs') %>
  <%- include('layout/drawer/nav-ua.ejs') %>
  <%- include('layout/drawer/form-ua.ejs') %>

    <main>
      <section class="section section-page">
        <header>
          <div class="container">
            <h1 class="up">Політика конфіденційності</h1>
          </div>
        </header>
      </section>

      <section class="section section-content">
        <div class="container">
        <article>
          <h3 class="title up def">Вступ</h3>
          <p>Вітаємо на сайті Base X Tech. Наша політика конфіденційності пояснює, як ми збираємо, захищаємо та розкриваємо інформацію, отриману в результаті використання вами нашого вебсайту.</p> <p>Користуючись нашим вебсайтом, ви погоджуєтесь на збір і використання інформації відповідно до цієї політики.</p>

          <h3 class="title up def">Типи даних, які ми збираємо</h3>
          <p><strong>Особисті дані</strong>
            <br>Під час використання нашого вебсайту ми можемо попросити вас добровільно надати певну особисту інформацію ("Особисті дані"), щоб покращити ваш досвід користування. Це може включати:</p>
          <p>Ім'я
            <br>— Ми збираємо ваше ім'я та прізвище для цілей ідентифікації.
            <br>— Правова основа: Договір.</p>
            <p><strong>Контактні дані</strong>
            <br>— Ми збираємо вашу електронну пошту для:</p>
            <ul class="default">
              <li>Маркетингових цілей – Ми надсилаємо електронні листи та повідомлення про нові функції, продукти та послуги. Ви можете відмовитися в будь-який час.</li>
              <li>Підтримки клієнтів – Ми надаємо допомогу через чат, телефон або електронну пошту та вирішуємо проблеми.</li>
            </ul>
            <p>— Правова основа: Згода.</p>
            <p><strong>Дані про використання</strong>
              <br>— Ми збираємо інформацію, яку ваш браузер надсилає, коли ви відвідуєте наш вебсайт, включаючи:
            </p>
            <ul class="default">
              <li>IP-адреса (Internet Protocol).</li>
              <li>Відвідані сторінки, тривалість відвідування та часові мітки.</li>
            </ul>
            <p>— Ми використовуємо:</p>
            <ul class="default">
              <li>Google Analytics для моніторингу та покращення користувацького досвіду.</li>
              <li>Google Ads для ремаркетингу.</li>
              <li>Hotjar для аналізу поведінки користувачів (дані анонімізовані).</li>
            </ul>
            <p>— Правова основа: Договір, законний інтерес.</p>

            <p><strong>Сookie</strong>
              <br>— Ми використовуємо файли cookie та технології відстеження (наприклад, маячки, теги, скрипти) для моніторингу активності на вебсайті.
              <br>— Ви можете змінити налаштування файлів cookie у своєму браузері; однак деякі функції вебсайту можуть не працювати належним чином без них.
              <br>— Правова основа: Згода, законний інтерес.
            </p>

            <h3 class="title up def">Зберігання даних</h3>
            <ul class="default shift-left"><li>Ми зберігаємо особисті дані стільки, скільки це необхідно для дотримання законодавства, вирішення спорів та виконання угод.</li> </ul>
            <p>— Деякі дані можуть бути видалені користувачами, тоді як інші дані зберігаються протягом тривалих періодів, коли це необхідно для:</p>
            <ul class="default shift">
              <li>Безпеки, запобігання шахрайству.</li>
              <li>Фінансового обліку.</li>
              <li>Дотримання законодавства або нормативних вимог.</li>
              <li>Забезпечення безперервності обслуговування.</li>
            </ul>


            <h3 class="title up def">Розкриття даних</h3>
            <p>— Правоохоронні органи
              <ul class="default shift-left">
                <li>Ми можемо розкривати особисті дані, якщо це вимагається законом або запитом державних органів.</li>
              </ul>

            <p>— Бізнес-транзакції
              <ul class="default shift-left">
                <li>У разі злиття, придбання або продажу активів ваші особисті дані можуть бути передані.</li>
              </ul>

            <p>— Постачальники послуг
              <ul class="default shift-left">
                <li>Ми можемо ділитися вашими даними з постачальниками послуг третьої сторони, які допомагають з функціональністю вебсайту, аналітикою або підтримкою. Ці постачальники зобов'язані зберігати конфіденційність.</li>
              </ul>


              <p>— Інші випадки
                <ul class="default shift-left">
                  <li>Для виконання мети, для якої ви її надали.</li>
                  <li>Для захисту прав компанії, клієнтів або інших осіб.</li>
                  <li>З вашою згодою.</li>
                </ul>
              </p>

            <h3 class="title up def">Безпека даних</h3>
            <p>Ми надаємо пріоритет безпеці даних, але не можемо гарантувати абсолютний захист, оскільки жоден метод електронного зберігання не є 100% безпечним.</p>

            <h3 class="title up def">Ваші права відповідно до GDPR</h3>
            <p>Якщо ви проживаєте в Європейському Союзі (ЄС) або Європейській економічній зоні (ЄЕЗ), ви маєте такі права:</p>
            <ul class="default shift-left">
              <li>Доступ – Запитати деталі про ваші особисті дані.</li>
              <li>Виправлення – Виправити неточні дані.</li>
              <li>Обмеження – Запросити обмеження обробки ваших даних.</li>
              <li>Відкликання згоди – Відкликати згоду на обробку даних у будь-який час.</li>
              <li>Скарга – Подати скаргу до органу захисту даних.</li>
            </ul>

            <h3 class="title up def">Посилання на інші вебсайти</h3>
            <p>Наш вебсайт може містити посилання на сайти третіх сторін. Ми не несемо відповідальності за їхній вміст, політику конфіденційності або практики. Рекомендуємо ознайомитися з їхніми політиками перед використанням.</p>

            <h3 class="title up def">Конфіденційність дітей</h3>
            <p>Наш вебсайт не призначений для осіб молодше 18 років. Якщо ми дізнаємося про дані, зібрані від неповнолітніх без згоди батьків, ми їх видалимо.</p>

            <h3 class="title up def">Зміни до цієї політики конфіденційності</h3>
            <p>Ми можемо періодично оновлювати цю політику конфіденційності. Зміни набирають чинності після їх публікації на цій сторінці. Користувачі будуть повідомлені електронною поштою або оголошеннями на вебсайті.</p>

            <h3 class="title up def">Зв'яжіться з нами</h3>
            <p>Якщо у вас є питання щодо цієї політики конфіденційності, будь ласка, зв'яжіться з нами за адресою hello@base-xtech.com.</p>
          </article>
        </div>
      </section>

      <%- include('layout/section/cta-uk.ejs') %>
    </main>

    <%- include('layout/footer-ua.ejs') %>

    <script type="module" src="/src/main.js"></script>
</body>
</html>
