@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as color;

.section {
  &--hero {
    background-image: var(--background-image-mob, var(--background-image));
    background-size: cover;
    background-position: center;
    min-height: 100vh;

    &.fall-back-gradient {
      background-image: linear-gradient(45deg, #1D1E20 0%, #6D6D6D 73%, #FFFFFF 100%);
      background-size: 200% 200%;
    }


    @include desk {
      background-image: var(--background-image, var(--background-image-mob));
    }

    .container {
      height: 100vh;
      max-height: 100%;
      display: grid;
      padding-bottom: 2rem;

      .inner_content {
        align-self: end;
        row-gap: 4.5rem;
          @include desk {
            row-gap: 2rem;
          }

        @include desk {
          align-items: end;
        }

        .block-stack {
          @include desk {
            margin-bottom: .5rem;
          }
        }
      }
    }

    &-title {
      font-size: 5.25rem;
      line-height: 4.625rem;
      color: #FAFAFA;

      @include desk {
        font-size: 10.25rem;
        line-height: 7.75rem;
      }

      .inner {
        display: inline-block;
        transform: translateY(5px);
        @include desk {
          display: inline-block;
          transform: translateY(5px);
        }
      }

      .highlight {
        opacity: .5;
      }
    }

    &-subtitle {
      color: color.$white;
    }

    &-description {
      color: color.$white;
      @include desk {
        max-width: 464px;
      }
    }

  }
}
