@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as color;
@use '../base/fonts' as font;

.section {
  &-works {
    padding: 5rem 0 1rem;
    background: linear-gradient(to right, #6D6D6D, #1D1E20);

    &.has-back {
      background-image: var(--background-image-mob, var(--background-image));
      background-repeat: no-repeat;
      background-size: cover;
    }

    @include desk {
      padding: 0 0 2rem;
    }

    > * {
      color: color.$white;
    }

    .inner {
      @include desk {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
      }
    }

    .icon-set {
      gap: .75rem;
    }

    .section-title {
      margin-bottom: 1.5rem;
    }

    .section-subtitle {
      @include desk {
        margin-bottom: 0;
      }
    }

    .section-header {
      position: relative;
      height: 100%;

      @include desk {
        padding: 14.25rem 0;
      }

      &::after {
        @include pseudo(100%, 1px);
        background-color: alpha(color.$white2, 0.3);
        transform: translate(-1rem, 0);

        @include desk {
          width: 1px;
          height: 100%;
          right: -2rem;
          top: 0;
        }
      }
    }

    blockquote {
      padding-top: 5rem;
      @include desk {
        margin-left: 29%;
        max-width: 320px;
        padding: 0;
      }

      .title {
        font-size: 7.5rem;
        line-height: 1;
        color: alpha(color.$white2, 0.3);
        @include desk {
          font-size: 10rem;
        }
      }
    }

    .article {
      &-1 {
        &::before {
          @include pseudo(calc(100% + 1rem), 1px, inline-block, relative);
          background-color: alpha(color.$white2, 0.3);
          margin: 5.125rem 0 1rem;
          @include desk {
            margin: 0 0 2rem;
            width: calc(100% + 100rem);
          }
        }

        .article-header {
          display: grid;
          gap: 1.875rem;
          padding: 5rem 0 1rem;
          &::after {
            @include pseudo(calc(100% + 2rem), 1px, inline-block, relative);
            background-color: alpha(color.$white2, 0.3);
          }
        }

        main {
          .cards {
            margin-right: -1rem;

            @include desk {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              grid-template-rows: repeat(2, 1fr);
              gap: 2rem;
            }

            .card {
              overflow: hidden;

              .icon-set {
                img {
                  width: 48px;
                  height: 48px;
                }
              }

              @include desk {
                &:nth-child(1) {
                  grid-row: 1 / span 2;
                  height: 100%;
                }

                &:nth-child(2) {
                  grid-column: 2;
                  max-height: 470px;
                  img {
                    width: 100%;
                    max-width: none;
                  }
                }

                &:nth-child(3) {
                  grid-column: 2;
                  max-height: 470px;
                  a {
                    > img {
                      width: 100%;
                      max-width: none;
                      object-position: top center;
                      transform: scale(1.5) translateY(10%);
                    }

                    &:hover {
                      > img {
                        transform: scale(1.75) translateY(10%);
                      }
                    }
                  }
                }

                &:nth-child(4),
                &:nth-child(5) {
                  grid-column: 1;
                  min-height: 100%;
                  max-height: 470px;
                }

                &:nth-child(6) {
                  grid-column: 2;
                  grid-row: 3 / span 2;
                  height: 100%;
                }
              }

              @include wide {
                &:nth-child(1) {
                  grid-row: 1 / span 2;
                  height: 100%;
                }

                &:nth-child(2),
                &:nth-child(3) {
                  grid-column: 2;
                  min-height: 100%;
                }
              }

              &-title {
                @include desk {
                  font-size: 4rem;
                  line-height: 4rem;
                }
              }

              &-content {
                header {
                  @include desk {
                    display: flex;
                    justify-content: space-between;
                  }
                }
              }
            }
          }
        }
      }
    }

    &.theme-light {
      background: white;
      .section {

        &-header {
          &:after {
            background-color: alpha(color.$black, 0.3);
          }
        }

        &-title {
          color: color.$black;
        }

        &-subtitle {
          color: color.$black;
        }
      }

      blockquote {
        .title {
          color: alpha(color.$black, 0.3);
        }

        p {
          color: color.$black;
        }
      }

      .article {
        &-1 {
          &::before {
            background-color: alpha(color.$black, 0.3);
            margin: 5.125rem 0 1rem;
            @include desk {
              margin: 0 0 2rem;
              width: calc(100% + 100rem);
            }
          }

          .article-header {
            &::after {
              background-color: alpha(color.$black, 0.3);
            }
          }
        }
      }

      .marker-list {
        li {
          color: color.$black;
          font-size: 3rem;
          font-weight: bold;
          font-family: font.$heading-font;
          text-transform: uppercase;
        }
      }

    }
  }

}
