RewriteEngine On

# www → non-www
ErrorDocument 404 /404.html

RewriteCond %{HTTP_HOST} ^www\.base-xtech\.com [NC]
RewriteRule ^(.*)$ https://base-xtech.com/$1 [L,R=301]

# /index.html (root and subdirs) → folder
RewriteCond %{THE_REQUEST} \s/+((?:[^\s?]+/)?)index\.html[\s?] [NC]
RewriteRule ^(?:.+/)?index\.html$ /%1 [L,R=301]

# /index -> / 301 redirect
RewriteCond %{THE_REQUEST} \s/+((?:[^\s?]+/)?)index/?[\s?] [NC]
RewriteRule ^(?:.+/)?index/?$ /%1 [L,R=301]

# /path/file.html → /path/file
RewriteCond %{THE_REQUEST} \s/+([^\s?]+?)\.html[\s?] [NC]
RewriteRule ^ /%1 [L,R=301]

# Internally serve /path/file from /path/file.html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{DOCUMENT_ROOT}/$1.html -f
RewriteRule ^(.+?)/?$ $1.html [L]

<If "%{HTTP_HOST} == 'staging.base-xtech.com'">
  AuthType Basic
  AuthName "Basic Auth"
  AuthUserFile "/home/aleksanz/base-xtech.com/staging/.htpasswd"
  Require valid-user
</If>

<Files ".htpasswd">
  Require all denied
</Files>

# /path/file → /path/file/ (enforce trailing slash)
RewriteCond %{THE_REQUEST} !\s/+blog(/|[\s?]) [NC]
RewriteCond %{THE_REQUEST} \s/+[^\s?]*[^/\s?][\s?] [NC]
RewriteRule ^(.+?)\.html$ /$1/ [L,R=301]

# //path → /path  (leading duplicate slashes; also //// → /)
RewriteCond %{THE_REQUEST} !\s/+blog(/|[\s?]) [NC]
RewriteCond %{THE_REQUEST} \s/{2,}([^\s?]*)[\s?] [NC]
RewriteRule ^ /%1 [L,R=301]

# /path/file//// → /path/file/  (duplicate slashes elsewhere)
RewriteCond %{THE_REQUEST} !\s/+blog(/|[\s?]) [NC]
RewriteCond %{THE_REQUEST} \s/+([^/\s?][^\s?]*?)/{2,}([^\s?]*)[\s?] [NC]
RewriteRule ^ /%1/%2 [L,R=301]
