<!DOCTYPE html>
<html lang="uk">
<%- include('layout/head-alt.ejs', {
  title: "404 - Сторінку не знайдено | BaseX-Tech",
  description: "Сторінка, яку ви шукаєте, не існує.",
  hrefLangCode: "en",
  hrefLangLink: "https://base-xtech.com/404.html",
  hreflangDefault: "https://base-xtech.com/uk/404.html"
}) %>

<body class="body-404 locale-ua">
  <%- include('layout/noscript.ejs') %>
  <%- include('layout/header-alt-ua.ejs') %>

  <%- include('layout/drawer/nav-ua.ejs') %>
  <%- include('layout/drawer/form-ua.ejs') %>

  <main class="page-404">
    <div class="container">
      <div class="page-404__content">
        <div class="page-404__info">
          <h1 class="page-404__title">Сторінку не знайдено</h1>
          <p class="page-404__subtitle">Це не та сторінка, яку ви шукаєте</p>
          <a href="/uk/" class="btn btn--primary"><span>На головну</span><i arrow-right><span></span></i></a>
        </div>
        <div class="page-404__image">
          <img src="/images/404.png" alt="404">
        </div>
      </div>
    </div>
  </main>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const header = document.querySelector('.site-header');
      if (header) header.classList.add('in-scroll');
    });
  </script>
  <script type="module" src="/src/main.js"></script>
</body>
</html>
