<!DOCTYPE html>
<html lang="en">
<%- include('layout/head-alt.ejs', {
  title: "BaseX-Tech ▶️  Design | Development | Marketing",
  description: "Web design and development agency ➤ BaseX-Tech ⭐️ We create solutions that combine innovation, efficiency, and real impact on business growth.",
  hrefLangCode: "uk",
  hrefLangLink: "https://base-xtech.com/uk/pages/service/conversion-rate-optimization",
  hreflangDefault: "https://base-xtech.com/pages/service/conversion-rate-optimization"
}) %>
<body class="locale-en">
  <%- include('layout/noscript.ejs') %>

  <%- include('layout/header-alt.ejs') %>
  <%- include('layout/drawer/nav.ejs') %>
  <%- include('layout/drawer/form.ejs') %>

  <main id="service-conversion-rate-optimization">
    <%-
      include('layout/section/hero-type-two.ejs', {
        locale: 'en',
        id: "service-hero",
        title: "Conversion Rate Optimization",
        subtitle: "cro for shopify service",
        description: "Our CRO services focus on increasing your store’s revenue through data-driven testing, user behavior analysis, and optimized conversion funnels.",
        icons: [
          "shopify"
        ],
        cards: [
          {
            image:"/images/pages/service/conversion-rate-optimization/hero/card-2.png",
            title: "Boost Sales"
          },
          {
            image:"/images/pages/service/conversion-rate-optimization/hero/card-1.png",
            title: "Improve UX"
          },
        ]
      })
    %>

    <%-
      include('layout/section/split.ejs', {
        locale: 'en',
        theme: 'light',
        id: "service-type-of-apps",
        title: "SERVICES AND TECHNOLOGIES",
        subtitle: "What types <br class='br-desk'>of apps <span class='accent'>we can build <br class='br-desk'>for your</span> Shopify store",
        cards: [
          {
            title: "Comprehensive Website and Store Audit",
            description: "We conduct a full assessment of your website or ecommerce store—structure, navigation, calls to action, checkout flow, page speed, and mobile performance. Our audits uncover hidden conversion blockers and create a clear plan to fix them.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
          {
            title: "User Behavior and Data Analysis",
            description: "Using heatmaps, session recordings, analytics, and user journey reports, we analyze visitor behavior to pinpoint pain points and opportunities. These insights power our data-driven CRO strategies that improve customer engagement and conversions.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
          {
            title: "A/B Testing and Experimentation",
            description: "We create and manage A/B and multivariate tests for headlines, layouts, copy, buttons, forms, and images. Our structured testing approach delivers measurable wins and supports long-term growth.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
          {
            title: "Landing Page and Funnel Optimization",
            description: "We refine landing pages and conversion funnels to reduce bounce rates and guide users toward completing their goals. Whether you want more leads, signups, or purchases, our optimization methods boost results at every stage.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
          {
            title: "Shopify Conversion Rate Optimization",
            description: "As Shopify specialists, we deliver customized shopify conversion rate optimization strategies for stores of all sizes. We help you maximize your existing traffic, improve user flow, and increase revenue without inflating ad spend.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
          {
            title: "Reporting and Continuous Improvement",
            description: "Conversion optimization is an ongoing process. We provide detailed reporting, monitor test performance, and continuously experiment to push your conversion rates higher over time.",
            background_image: "/images/pages/service/index/app-types/card-1.png",
            icons: [
              "shopify"
            ]
          },
        ]
      })
    %>

    <%-
      include('layout/section/split.ejs', {
        locale: 'en',
        theme: 'light',
        id: "service-advantages",
        title: "ADVANTAGES",
        subtitle: "<span class='accent'>Why Choose</span><br> Base-X-Tech",
        content_cards: [
          {
            subtitle: "<span class='fig-rhombus black'></span>",
            title: "Data-Driven Focus",
            description: "Every recommendation and test is based on real customer data, analytics, and proven behavior patterns. We focus on actionable results, not assumptions."
          },
          {
            subtitle: "<span class='fig-rhombus black'></span>",
            title: "In-House Expertise",
            description: "All work is performed by our experienced internal team. You’ll collaborate directly with CRO experts who deliver fast execution and full accountability."
          },
          {
            subtitle: "<span class='fig-rhombus black'></span>",
            title: "Transparent and Flexible Pricing",
            description: "Our pricing is clear, predictable, and scalable to fit your business size and objectives. We customize packages so you always know the value of your investment."
          },
          {
            subtitle: "<span class='fig-rhombus black'></span>",
            title: "Proven Ecommerce and Shopify Expertise",
            description: "We’ve partnered with countless ecommerce and Shopify brands to solve conversion bottlenecks, optimize UX, and increase online revenue efficiently."
          },
          {
            subtitle: "<span class='fig-rhombus black'></span>",
            title: "Reliable Partnership",
            description: "We meet deadlines, communicate openly, and commit to delivering what we promise. We become an extension of your team, working toward shared business growth.`"
          }
        ]
      })
    %>


    <%- include('layout/section/works.ejs', {
      locale: 'en',
      id: "service-portfolio",
      theme: "dark",
      title: "PORTFOLIO",
      subtitle: "<span class='hide-desk'>Our featured projects</span><span class='hide-mob'>Foundations<br> of Impactful <br>Digital <br>Experiences</span>",
      description: "A showcase of brands we’ve helped grow through strategy, design, and technology. Each project is a testament to our commitment to building lasting digital experiences.",
      items: [
        {
          title: "Naya Tech",
          text: "Design & Shopify development for technology startup",
          link: "https://naya.tech/",
          background_image: "/images/sections/works/card-1-bg.png",
          icons: ['shopify']
        },
        {
          title: "Bonkind",
          text: "Brand identity & redesign of self-care ecommerce",
          link: "https://naya.tech/",
          background_image: "/images/sections/works/card-2-bg.png",
          icons: ['figma', 'ai']
        },
        {
          title: "KLOTT",
          text: "Store setup & customizations for fashion brand",
          link: "https://ua.klottclothes.com/",
          background_image: "/images/sections/works/card-3-bg.png",
          icons: ['git', 'shopify']
        }
      ]
    }) %>

    <%-
      include('layout/section/split.ejs', {
        locale: 'en',
        theme: 'light',
        id: "service-expertise",
        title: "EXPERTISE",
        subtitle: "Working <br> across <br class='br-desk'><span class='accent'>Key <br class='br-mob'>Industries</span>",
        description: "<h2 class='title up'>10</h2><p>We have worked with 10 verticals and brought better results to clients</p>",
        media_cards: [
          {
            title: "fashion",
            image: "/images/pages/service/index/industries/card-1.png"
          },
          {
            title: "beauty",
            image: "/images/pages/service/index/industries/card-2.png"
          },
          {
            title: "automotive",
            image: "/images/pages/service/index/industries/card-3.png"
          },
          {
            title: "Food & Drinks",
            image: "/images/pages/service/index/industries/card-4.png"
          },
          {
            title: "Jewelry & Luxury",
            image: "/images/pages/service/index/industries/card-5.png"
          },
          {
            title: "Furniture & Decor",
            image: "/images/pages/service/index/industries/card-6.png"
          },
          {
            title: "Health & Supplements",
            image: "/images/pages/service/index/industries/card-7.png"
          },
          {
            title: "Bags & Accessories",
            image: "/images/pages/service/index/industries/card-8.png"
          },
          {
            title: "Tech & Gadgets",
            image: "/images/pages/service/index/industries/card-9.png"
          },
          {
            title: "Sports & Lifestyle",
            image: "/images/pages/service/index/industries/card-10.png"
          },
        ]
      })
    %>

    <%-
      include('layout/section/faq.ejs', {
        locale: 'en',
        id: 'service-faq',
        title: 'WORKFLOW',
        subtitle: '<span class="accent">How We Do It</span><br> at Base-X-Tech',
        button: {
          text: "Discuss a project"
        },
        faq: [
          {
            title: "Discovery and Goal Setting",
            description: "We align with your business goals, analyze your website or store, and define key conversion objectives together."
          },
          {
            title: "Audit and Research",
            description: "We perform a deep audit of your site structure and customer journeys, backed by analytics and behavior insights, to identify clear areas for improvement."
          },
          {
            title: "Strategy and Testing",
            description: "We create a customized CRO roadmap and launch structured tests to uncover the highest-converting versions of your key pages and elements."
          },
          {
            title: "Reporting and Iteration",
            description: "We track results, provide clear reports, and continuously refine your site through ongoing optimization cycles to meet or exceed your conversion goals."
          }
        ]
      })
    %>

    <%- include('layout/section/approach.ejs') -%>

    <%- include('layout/section/cta.ejs') %>
  </main>

  <%- include('layout/footer-alt.ejs') %>



  <script type="module" src="/src/main.js"></script>
  <script type="module" src="/src/page-service.js"></script>
</body>
</html>
