@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as vars;

.container {
  width: 100%;
  max-width: vars.$container-max-width;
  margin: 0 auto;
  padding: 0 1rem;

  @include desk {
    padding: 0 2rem;
  }
}

.mobile--alt-image {
  &+ img {
    display: none;
    @include desk {
      display: block;
    }
  }
  @include desk {
    display: none;
  }
}

.br-mob {
  @include desk {
    display: none;
  }
}

.br-desk {
  display: none;
  @include desk {
    display: block;
  }
}
