@font-face {
  font-family: 'PPEditorialNew';
  src: url('/fonts/PPEditorialNew-Ultralight.woff2') format('woff2'),
        url('/fonts/PPEditorialNew-Ultralight.woff') format('woff');
  font-weight: 200; // Ultralight
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Thunder';
  src: url('/fonts/Thunder-BoldLC.woff2') format('woff2'),
        url('/fonts/Thunder-BoldLC.woff') format('woff');
  font-weight: 700; // Bold
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWKEverett';
  src: url('/fonts/TWKEverett-Medium.woff2') format('woff2'),
        url('/fonts/TWKEverett-Medium.woff') format('woff');
  font-weight: 600; // Medium
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWKEverett';
  src: url('/fonts/TWKEverett-Regular.woff2') format('woff2'),
        url('/fonts/TWKEverett-Regular.woff') format('woff');
  font-weight: 500; // Regular
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Druk';
  src: url('/fonts/Druk.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Moderustic';
  src: url('/fonts/Moderustic-Regular.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Moderustic';
  src: url('/fonts/Moderustic-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Moderustic';
  src: url('/fonts/Moderustic-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Druk';
  src: url('/fonts/Druk.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

$body-font: 'TWKEverett', sans-serif;
$heading-font: 'Thunder', sans-serif;
$ultra-light-font: 'PPEditorialNew', sans-serif;

$body-font-cyr: 'Moderustic', sans-serif;
$heading-font-cyr: 'Druk', sans-serif;
